MultiFit: "FitExampleMorphMultifit"
  Label: "FitExampleMorphMultifit"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "139 fb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIName: "topWidth"
  POIRange: 0.7:2.0
  DebugLevel: 1
  POITitle: "best fit #Gamma_{t} [GeV]"
  POIPrecision: 2
  POILabel: "#Gamma_{t}"
  POINominal: 1.32
  NumCPU: 1
  PlotCombCorrMatrix: TRUE
  ShowTotalOnly: TRUE

Fit: "SingleLep"
  ConfigFile: test/configs/FitExampleMorphing.config
  Label: "SingleLep"

Fit: "Dilep"
  ConfigFile: test/configs/FitExampleMorphingDilep.config
  Label: "Dilep"
