Job: "FitExampleStatOnly"
  Label: "Fit Example"
  CmeLabel: "13 TeV"
  LumiLabel: "300 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "test/inputs/Histo"
  DebugLevel: 2
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  StatOnly: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM
  doLHscan: SigXsecOverSM
  FitToys: 10
  
Region: "SR_1"
  Type: CONTROL
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "Signal Region 1"
  ShortLabel: "SR 1"
  
Region: "SR_2"
  Type: SIGNAL
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "Signal Region 2"
  ShortLabel: "SR 2"
  
Region: "VR"
  Type: VALIDATION
  HistoName: "HTj_VR"
  VariableTitle: "H_{T} [GeV]"
  Label: "Validation region"
  ShortLabel: "VR"
  
Sample: "Data"
  Title: "Data 2015"
  Type: data
  HistoFile: "data"
    
Sample: "Bkg1"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 400
  LineColor: 1
  HistoFile: "bkg1"

Sample: "Bkg2"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 591
  LineColor: 1
  HistoFile: "bkg2"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "sig"
  
Systematic: "JES"
  Title: "Jet Energy Scale"
  Type: HISTO
  HistoNameSufUp: "_jesUp"
%   HistoNameSufDown: "_jesDown"
  Samples: Bkg1,Signal
  Smoothing: 40
%   Symmetrisation: TwoSided
  Symmetrisation: ONESIDED
  Category: Instrumental

Systematic: "Bkg1Xsec"
  Title: "Backgr. 1 Cross-Section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: Bkg1
  Category: "t#bar{t} uncertainty"
  Regions: SR_1,VR

Systematic: "Bkg2Xsec"
  Title: "Backgr. 2 Cross-Section"
  Type: OVERALL
  OverallUp: 0.20
  OverallDown: -0.20
  Samples: Bkg2
  Category: "t#bar{t} uncertainty"
