Job: "OffsetMethodForInterference"
  Label: "Offset method for interference"
  CmeLabel: "13 TeV"
  LumiLabel: "300 fb^{-1}"
  POI: "sqrt_mu"
  ReadFrom: HIST
  HistoPath: "inputs/Histo/"
  DebugLevel: 2
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  HistoChecks: NOCRASH

NormFactor: "sqrt_mu"
  Samples: "SplusI"
  Nominal: 1
  Min: 0
  Max: 5

NormFactor: "minus_sqrt_mu"
  Samples: "SplusI_CounterTerm"
  Expression: -sqrt_mu:sqrt_mu[1,0,5]

NormFactor: "norm_fact_pure_signal"
  Samples: "PureS"
  Expression: (sqrt_mu^2 - sqrt_mu):sqrt_mu[1,0,5]

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  doLHscan: all
  
Region: "SR"
  Type: SIGNAL
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR"
  
% ---
% FANCY PART
Sample: "SplusI_Offset"
  Type: GHOST
  HistoFile: "bkg1"
% ---

Sample: "Data"
  Title: "Data 2015"
  Type: data
  HistoFile: "data"
    
Sample: "Bkg1"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 400
  LineColor: 1
  HistoFile: "bkg1"

Sample: "Bkg2"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 591
  LineColor: 1
  HistoFile: "bkg2"

Sample: "PureS"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  HistoFile: "sigpure"  

Sample: "SplusI"
  Type: SIGNAL
  Title: "Signal+Interference"
  FillColor: 632
  LineColor: 632
  HistoFile: "siginter"  
  SeparateGammas: True
  AddSample: "SplusI_Offset"
 
Sample: "SplusI_CounterTerm"
  Type: SIGNAL
  Title: "Counterterm"
  HistoFile: "bkg1"
  UseMCstat: False  
  
Systematic: "JES"
  Title: "Jet Energy Scale"
  Type: HISTO
  HistoNameSufUp: "_jesUp"
  HistoNameSufDown: "_jesDown"
  Samples: Bkg1,PureS,SplusI
  Smoothing: 40
  %Smoothing: 0
%  Symmetrisation: TwoSided
%  Symmetrisation: ONESIDED
  Category: Instrumental
