Job: "FitExampleExpression"
  Label: "FitExampleExpression"
  CmeLabel: "13 TeV"
  LumiLabel: "80.5 fb^{-1}"
  ReadFrom: HIST
  POI: "norm_long"
  HistoPath: "test/inputs/Expression"
  DebugLevel: 1
  RatioYmax: 1.2
  RatioYmin: 0.8
  RankingMaxNP: 20
  StatOnly: TRUE
  POIPrecision: 4

Fit: "WHelicity_ljets"
  FitType: SPLUSB
  FitRegion: CRSR
  NumCPU: 4
  FitBlind: TRUE
  POIAsimov: 0.687

Region: "SR_ljets"
  Type: SIGNAL
  VariableTitle: "reco. cos #theta^{*} [-]"

Sample: "Signal_ljets_long"
  Type: SIGNAL
  Title: "t#bar{t} long."
  FillColor: 0
  LineColor: 1
  HistoFile: "Whelicity"
  HistoName: "nominal/KLF_fO_template"
  Regions: SR_ljets

Sample: "Signal_ljets_left"
  Type: SIGNAL
  Title: "t#bar{t} left"
  FillColor: 0
  LineColor: 1
  HistoFile: "Whelicity"
  HistoName: "nominal/KLF_fL_template"
  Regions: SR_ljets

Sample: "Signal_ljets_right"
  Type: SIGNAL
  Title: "t#bar{t} right"
  FillColor: 0
  LineColor: 1
  HistoFile: "Whelicity"
  HistoName: "nominal/KLF_fR_template"
  Regions: SR_ljets

NormFactor: "norm_left"
 Title: "norm_left"
  Nominal: 0.311
  Min: 0
  Max: 1
  Expression: (1.-norm_long-norm_right):norm_long[0.687,0,1],norm_right[0.002,0,1]
  Samples: Signal_ljets_left

NormFactor: "norm_right"
  Title: "norm_right"
  Nominal: 0.002
  Min: 0
  Max: 1
  Samples: Signal_ljets_right

NormFactor: "norm_long"
  Title: "norm_long"
  Nominal: 0.687
  Min: 0
  Max: 1
  Samples: Signal_ljets_long

