% % --------------- %
% % ---  JOB    --- %
% % --------------- %

Job: "FitExampleNtuple"
  Label: "l+j"
  CmeLabel: "13 TeV"
  POI: "mu_XS_ttH"
  ReadFrom: NTUP
  NtuplePaths: "test/inputs/Ntuple"
  NtupleName: "nominal_Loose"
  MCweight: "weight_normalise*weight_pileup*weight_mc*weight_leptonSF*weight_bTagSF_MV2c10_Continuous*weight_jvt*11000"
  LumiLabel: "32.0 fb^{-1}"
  Lumi: 1.0
  DebugLevel: 1
  CorrelationThreshold: 0.20
  SystLarge: 0.99
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  MCstatThreshold: 0.01
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SplitHistoFiles: TRUE
  KeepPruning: FALSE
  HistoChecks: NOCRASH
  ImageFormat: pdf,png
  GetChi2: "STAT"
  RankingMaxNP: 20
  PlotOptions: "CHI2, YIELDS"


% % --------------- %
% % ---  FIT    --- %
% % --------------- %

Fit: "SPLUSB_CRSR_Asimov"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  UseMinos: "mu_XS_ttH","tt_norm"


% % --------------- %
% % --- REGIONS --- %
% % --------------- %

Region: "ljets_5j3b_HT"
  Type: CONTROL
  Variable: "HT_all/1e3",6,200,800
  VariableTitle: "H_{T}^{had} [GeV]"
  Selection: "nJets==5"
  Label: "5j >=3b"

Region: "ljets_6j4b_BDT"
  Type: SIGNAL
  Variable: "TTHClassBDTOutput_2017paper",20,-1,1
  Binning: "AutoBin","TransfoD",3,3
  VariableTitle: "Classification BDT output"
  Selection: "nJets>=6"
  Label: ">=6j >=3b"


% % --------------- %
% % --- SAMPLES --- %
% % --------------- %

%%% ------- DATA
% not real data, just some other MC

Sample: data
  Type: DATA
  Title: "Data"
  Selection: "((weight_normalise<10e-8) && (weight_mc>=1355.5)) || ((weight_normalise>10e-8) && (HT_all>1500000))"
  NtupleFiles: "tt_aMCNloP8","ttH_PP8"

Sample: "ttlight"
  Type: BACKGROUND
  Title: "t#bar{t} + light"
  TexTitle: "$t\bar{t}$ + light"
  FillColor: 0
  LineColor: 1
  Selection: "(HF_SimpleClassification==0)"
  NtupleFile: "tt_PP8"

Sample: "ttc"
  Type: BACKGROUND
  Title: "t#bar{t} + #geq1c"
  TexTitle: "$t\bar{t}$ + $\geq$1$c$"
  FillColor: 590
  LineColor: 1
  Selection: "(HF_SimpleClassification==-1)"
  NtupleFile: "tt_PP8"

Sample: "ttb"
  Type: BACKGROUND
  Title: "t#bar{t} + #geq1b"
  TexTitle: "$t\bar{t}$ + $\geq$1$b$"
  FillColor: 594
  LineColor: 1
  Selection: "(HF_SimpleClassification==1)"
  NtupleFile: "tt_PP8"

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  TexTitle: "$t\bar{t}H$"
  MCweight: 50.0
  UseMCstat: FALSE
  FillColor: 632
  LineColor: 632
  NtupleFile: "ttH_PP8"

% % --------------- %
% % - NORMFACTORS - %
% % --------------- %

NormFactor: "mu_XS_ttH"
  Title: "#mu_{t#bar{t}H}"
  Nominal: 1
  Min: -10
  Max: 20
  Samples: ttH

NormFactor: "tt_norm"
  Title: "k(tt)"
  Nominal: 1
  Min: 0
  Max: 5
  Samples: ttb,ttc,ttlight

% % --------------- %
% % - SYSTEMATICS - %
% % --------------- %

Systematic: "ATLAS_lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp: 0.02
  OverallDown: -0.02
  Samples: all
  Category: Instrumental

Systematic: "ATLAS_PRW_DATASF"
  Title: "pileup modelling"
  Type: HISTO
  WeightSufUp: "weight_pileup_UP/weight_pileup"
  WeightSufDown: "weight_pileup_DOWN/weight_pileup"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental

%%% ------- jets

Systematic: "ATLAS_JVT"
  Title: "Jet vertex tagger efficiency"
  Type: HISTO
  WeightSufUp: "weight_jvt_UP/weight_jvt"
  WeightSufDown: "weight_jvt_DOWN/weight_jvt"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental

%%% ------- ttbar generator

Systematic: "ttlight_Gen"
  Title: "tt+light NLO gen."
  Type: HISTO
  Samples: ttlight
  NtupleFilesUp: "tt_aMCNloP8"
  WeightSufUp: 0.5
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory

Systematic: "ttc_Gen"
  Title: "tt+#geq1c NLO gen."
  Type: HISTO
  Samples: ttc
  NtupleFilesUp: "tt_aMCNloP8"
  WeightSufUp: 0.5
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory

Systematic: "ttb_Gen"
  Title: "tt+#geq1b NLO gen."
  Type: HISTO
  Samples: ttb
  NtupleFilesUp: "tt_aMCNloP8"
  WeightSufUp: 0.5
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
