Job: string
  Label: string
  POI: string
  POIUnit: string
  ReadFrom: HIST/NTUP
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixNameNominal: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceNameNominal: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffNameNominal: string
  MigrationName: string
  MigrationNames: string
  MigrationFile: string
  MigrationFiles: string
  MigrationPath: string
  MigrationPaths: string
  MigrationNameNominal: string
  HistoName: string
  HistoNames: string
  HistoNameNominal: string
  HistoFile: string
  HistoFiles: string
  HistoPath: string
  HistoPaths: string
  NtupleName: string
  NtupleNames: string
  NtupleFile: string
  NtupleFiles: string
  NtuplePath: string
  NtuplePaths: string
  MCweight: string
  Selection: string
  Lumi: float
  LumiScale: float
  SystPruningShape: float
  SystPruningNorm: float
  DoSystNormalizationPlots: TRUE/FALSE
  SystLarge: float
  IntCodeOverall: int
  IntCodeShape: int
  MCstatThreshold: NONE/float
  MCstatConstraint: GAUSSIAN/POISSON
  DebugLevel: int
  Logo: TRUE/FALSE
  YIELDS: TRUE/FALSE
  NORMSIG: TRUE/FALSE
  NOSIG: TRUE/FALSE
  OVERSIG: TRUE/FALSE
  CHI2: TRUE/FALSE
  PREFITONPOSTFIT: TRUE/FALSE
  NOXERR: TRUE/FALSE
  STANDALONE: TRUE/FALSE
  FOOTNOTESIZE: TRUE/FALSE
  LANDSCAPE: TRUE/FALSE
  SystControlPlots: TRUE/FALSE
  SystDataPlots: TRUE/FALSE/FILLUPFRAME
  CorrelationThreshold: float
  SignalRegionsPlot: string
  HistoChecks: NOCRASH
  LumiLabel: string
  CmeLabel: string
  SplitHistoFiles: TRUE/FALSE
  BlindingThreshold: float
  BlindingType: SOVERB/SOVERSPLUSB/SOVERSQRTB/SOVERSQRTSPLUSB
  KeepPrefitBlindedBins: TRUE/FALSE
  RankingMaxNP: int
  RankingPlot: string
  ImageFormat: string
  StatOnly: TRUE/FALSE
  SystErrorBars: TRUE/FALSE
  SummaryErrorbars: string
  FixNPforStatOnly: TRUE/FALSE
  InputFolder: string
  InputName: string
  OutputDir: string
  WorkspaceFileName: string
  KeepPruning: TRUE/FALSE
  AtlasLabel: string
  CleanTables: TRUE/FALSE
  SystCategoryTables: TRUE/FALSE
  SummaryPlotRegions: string
  SummaryPlotYmax: float
  SummaryPlotYmin: float
  SummaryLogY: TRUE/FALSE
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  RatioYtitle: string
  RatioType: DATAOVERMC/DATAOVERBKG/SOVERB/SOVERSQRT(B)/SOVERSQRT(S+B)
  CustomAsimov: string
  GetChi2: TRUE/STAT+SYST/STAT
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/TCHANNEL/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  UseGammaPulls: TRUE/FALSE
  GuessMCStatEmptyBins: TRUE/FALSE
  CorrectNormForNegativeIntegral: TRUE/FALSE
  MergeUnderOverFlow: TRUE/FALSE
  DoSummaryPlot: TRUE/FALSE
  DoMergedPlot: TRUE/FALSE
  DoTables: TRUE/FALSE
  DoPieChartPlot: TRUE/FALSE
  CustomFunctions: string
  CustomIncludePaths: string
  CustomFunctionsExecutes: string
  SuppressNegativeBinWarnings: TRUE/FALSE
  Bootstrap: string
  BootstrapSyst: string
  BootstrapSample: string
  PlotOptions: string
  PlotOptionsSummary: string
  ReplacementFile: string
  RegionGroups: string
  DecorrSuff: string
  DecorrSysts: string
  DoSignalRegionsPlot: TRUE/FALSE
  TableOptions: string
  Suffix: string
  SaveSuffix: string
  HideNP: string
  SummaryPlotLabels: string
  SummaryPlotValidationRegions: string
  SummaryPlotValidationLabels: string
  SmoothMorphingTemplates: TRUE/FALSE/string
  SummaryPrefix: string
  AllowWrongRegionSample: TRUE/FALSE
  POIPrecision: int
  RankingPOIName: string
  UseATLASRounding: TRUE/FALSE
  UseATLASRoundingTxt: TRUE/FALSE
  UseATLASRoundingTex: TRUE/FALSE
  UseGammasForCorr: TRUE/FALSE
  PropagateSystsForMorphing: TRUE/FALSE
  PrePostFitCanvasSize: int,int
  SummaryCanvasSize: int,int
  MergeCanvasSize: int,int
  PieChartCanvasSize: int,int
  NPRankingCanvasSize: int,int
  PruningType: SEPARATESAMPLE/BACKGROUNDREFERENCE/COMBINEDREFERENCE
  LabelX: float
  LabelY: float
  LegendX1: float
  LegendX2: float
  LegendY: float
  LabelXSummary: float
  LabelYSummary: float
  LegendX1Summary: float
  LegendX2Summary: float
  LegendYSummary: float
  LabelXMerge: float
  LabelYMerge: float
  LegendX1Merge: float
  LegendX2Merge: float
  LegendYMerge: float
  LegendNColumns: int
  LegendNColumnsSummary: int
  LegendNColumnsMerge: int
  ExcludeFromMorphing: string
  ScaleSamplesToData: string
  MaxNtupleEvents: int
  SeparationPlot: string
  PruningShapeOption: MAXBIN/KSTEST
  ReorderNPs: TRUE/FALSE
  BlindSRs: TRUE/FALSE
  HEPDataFormat: TRUE/FALSE
  AlternativeShapeHistFactory: TRUE/FALSE
  RemoveLargeSyst: TRUE/FALSE
  RemoveSystOnEmptySample: TRUE/FALSE
  ShowValidationPruning: TRUE/FALSE
  AddAliases: string

Fit: string
  FitType: SPLUSB/BONLY/UNFOLDING/EFT
  FitRegion: CRSR/CRONLY
  FitBlind: TRUE/FALSE
  POIAsimov: string
  NPValues: string
  NPValuesFromFitResults: string
  InjectGlobalObservables: TRUE/FALSE
  FixNPs: string
  doLHscan: string
  do2DLHscan: string
  UseMinos: string
  SetRandomInitialNPval: float
  NumCPU: int
  StatOnlyFit: TRUE/FALSE
  GetGoodnessOfFit: TRUE/FALSE
  TemplateInterpolationOption: LINEAR/SMOOTHLINEAR/SQUAREROOT
  SetRandomInitialNPvalSeed: int
  DoNonProfileFit: TRUE/FALSE
  NonProfileFitSystThreshold: float
  FitToys: int
  ToysSeed: int
  ToysHistoNbins: int
  ToysPseudodataNP: string
  ToysPseudodataNPShift: float
  LHscanMin: float
  LHscanMax: float
  LHscanSteps: int
  LHscanMinY: float
  LHscanMaxY: float
  LHscanStepsY: int
  BlindedParameters: string
  SaturatedModel: TRUE/FALSE
  FitStrategy: int
  BinnedLikelihoodOptimization: TRUE/FALSE
  UsePOISinRanking: TRUE/FALSE
  UseHesseBeforeMigrad: TRUE/FALSE
  UseNLLwithoutOffsetInLHscan: TRUE/FALSE
  DataWeighted: TRUE/FALSE
  Parallel2Dscan: TRUE
  Parallel2DscanStep: int

Limit: string
  LimitType: ASYMPTOTIC/TOYS
  LimitBlind: TRUE/FALSE
  POI: string
  SignalInjection: TRUE/FALSE
  SignalInjectionValue: float
  ParamName: string
  ParamValue: float
  OutputPrefixName: string
  ConfidenceLevel: float
  SplusBToys: int
  BonlyToys: int
  ScanSteps: int
  ScanMin: float
  ScanMax: float
  ToysSeed: int
  LimitPlot: TRUE/FALSE
  LimitFile: TRUE/FALSE

Significance: string
  SignificanceBlind: TRUE/FALSE
  POI: string
  POIAsimov: float
  ParamName: string
  ParamValue: float
  OutputPrefixName: string

Options: string
  NoPrePostFit: float
  SystPlotRatioRange: float
  SoverBinRatio: float
  FourTopStyle: float
  CanvasWidthMerge: float
  CanvasWidthSummary: float
  CanvasWidth: float
  CanvasHeight: float
  MergeYfrac: float
  MergeYmaxScale: float
  SystFillStyle: float
  LegendNColumns: float
  FitStrategy: float
  GroupedImpactMoreFit: float
  ShapeOnlySystBand: float
  NormSigSRonly: float
  RandomizeMC: float
  PoissonizeData: float
  MergeScaleY: float
  SignalRegionSize: float
  LogSignalRegionPlot: float
  LogXSignalRegionPlot: float
  PieChartSize: float
  ReduceRanking: float
  TRExbbStyle: float
  PrefitRatioMax: float

Region: string
  VariableTitle: string
  Label: string
  TexLabel: string
  ShortLabel: string
  LumiLabel: string
  CmeLabel: string
  LogScale: TRUE/FALSE
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixNameSuff: string
  ResponseMatrixNameSuffs: string
  ResponseMatrixFileSuff: string
  ResponseMatrixFileSuffs: string
  ResponseMatrixPathSuff: string
  ResponseMatrixPathSuffs: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceNameSuff: string
  AcceptanceNameSuffs: string
  AcceptanceFileSuff: string
  AcceptanceFileSuffs: string
  AcceptancePathSuff: string
  AcceptancePathSuffs: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffNameSuff: string
  SelectionEffNameSuffs: string
  SelectionEffFileSuff: string
  SelectionEffFileSuffs: string
  SelectionEffPathSuff: string
  SelectionEffPathSuffs: string
  MigrationFile: string
  MigrationFiles: string
  MigrationName: string
  MigrationNames: string
  MigrationPath: string
  MigrationPaths: string
  MigrationNameSuff: string
  MigrationNameSuffs: string
  MigrationFileSuff: string
  MigrationFileSuffs: string
  MigrationPathSuff: string
  MigrationPathSuffs: string
  HistoFile: string
  HistoFiles: string
  HistoName: string
  HistoNames: string
  HistoPath: string
  HistoPaths: string
  HistoNameSuff: string
  HistoNameSuffs: string
  HistoFileSuff: string
  HistoFileSuffs: string
  HistoPathSuff: string
  HistoPathSuffs: string
  Variable: string
  VariableForSample: string
  SelectionForSample: string
  Selection: string
  NtupleName: string
  NtupleNames: string
  NtupleFile: string
  NtupleFiles: string
  NtuplePath: string
  NtuplePaths: string
  NtupleNameSuff: string
  NtupleNameSuffs: string
  NtupleFileSuff: string
  NtupleFileSuffs: string
  NtuplePathSuff: string
  NtuplePathSuffs: string
  MCweight: string
  Rebin: int
  Rebinning: string % new: to be used to rebin at the b step, after original histograms are created
  Binning: string
  BinWidth: float
  BinLabels: string
  Type: SIGNAL/CONTROL/VALIDATION
  DataType: ASIMOV/DATA
  Ymax: float
  Ymin: float
  RatioYmax: float
  RatioYmin: float
  RatioYmaxPostFit: float
  RatioYminPostFit: float
  DropBins: string
  Group: string
  YaxisTitle: string
  YmaxScale: float
  SkipSmoothing: TRUE/FALSE
  XaxisRange: float,float
  IsBinOfRegion: string
  AutomaticDropBins: TRUE/FALSE
  NumberOfRecoBins: int
  NormalizeMigrationMatrix: TRUE/FALSE

UnfoldingSample: string
  Title: string
  FillColor: int
  LineColor: int
  ResponseMatrixFile: string
  ResponseMatrixFiles: string
  ResponseMatrixName: string
  ResponseMatrixNames: string
  ResponseMatrixPath: string
  ResponseMatrixPaths: string
  ResponseMatrixFileSuff: string
  ResponseMatrixFileSuffs: string
  ResponseMatrixNameSuff: string
  ResponseMatrixNameSuffs: string
  ResponseMatrixPathSuff: string
  ResponseMatrixPathSuffs: string
  AcceptanceFile: string
  AcceptanceFiles: string
  AcceptanceName: string
  AcceptanceNames: string
  AcceptancePath: string
  AcceptancePaths: string
  AcceptanceFileSuff: string
  AcceptanceFileSuffs: string
  AcceptanceNameSuff: string
  AcceptanceNameSuffs: string
  AcceptancePathSuff: string
  AcceptancePathSuffs: string
  SelectionEffFile: string
  SelectionEffFiles: string
  SelectionEffName: string
  SelectionEffNames: string
  SelectionEffPath: string
  SelectionEffPaths: string
  SelectionEffFileSuff: string
  SelectionEffFileSuffs: string
  SelectionEffNameSuff: string
  SelectionEffNameSuffs: string
  SelectionEffPathSuff: string
  SelectionEffPathSuffs: string
  MigrationFile: string
  MigrationFiles: string
  MigrationName: string
  MigrationNames: string
  MigrationPath: string
  MigrationPaths: string
  MigrationFileSuff: string
  MigrationFileSuffs: string
  MigrationNameSuff: string
  MigrationNameSuffs: string
  MigrationPathSuff: string
  MigrationPathSuffs: string
  Regions: string
  Type: STANDARD/GHOST
  Gammas: SEPARATED/DISABLED
  SubSampleRegions: string

Sample: string
  Type: SIGNAL/BACKGROUND/DATA/GHOST/EFT
  Title: string
  TexTitle: string
  Group: string
  HistoFile: string
  HistoFiles: string
  HistoName: string
  HistoNames: string
  HistoPath: string
  HistoPaths: string
  HistoFileSuff: string
  HistoFileSuffs: string
  HistoNameSuff: string
  HistoNameSuffs: string
  HistoPathSuff: string
  HistoPathSuffs: string
  NtupleFile: string
  NtupleFiles: string
  NtupleName: string
  NtupleNames: string
  NtuplePath: string
  NtuplePaths: string
  NtupleFileSuff: string
  NtupleFileSuffs: string
  NtupleNameSuff: string
  NtupleNameSuffs: string
  NtuplePathSuff: string
  NtuplePathSuffs: string
  FillColor: string
  LineColor: string
  FillColorRGB: int,int,int
  LineColorRGB: int,int,int
  NormFactor: string,float,float,float/string,float,float,float,TRUE
  ShapeFactor: string,float,float,float/string,float,float,float,TRUE
  NormalizedByTheory: TRUE/FALSE
  MCweight: string
  Selection: string
  Regions: string
  Exclude: string
  LumiScale: string/float
  LumiScales: string
  IgnoreSelection: TRUE/FALSE/string
  IgnoreWeight: TRUE/FALSE/string
  UseMCstat: TRUE/FALSE
  UseSystematics: TRUE/FALSE
  MultiplyBy: string
  DivideBy: string
  AddSample: string
  AddSamples: string
  NormToSample: string
  SubtractSample: string
  SubtractSamples: string
  Smooth: TRUE/FALSE
  AsimovReplacementFor: string,string
  SeparateGamma: TRUE/FALSE
  CorrelateGammasInRegions: string
  CorrelateGammasWithSample: string
  Morphing: string,float
  BuildPullTable: TRUE/NORM-ONLY/NORM+SHAPE
  SeparateGammas: TRUE/FALSE
  MCstatScale: float
  SystFromSample: string
  UseGaussianShapeSysConstraint: TRUE/FALSE
  EFTSMReference: string
  EFTParam: string
  EFTTitle: string
  EFTValue: float


NormFactor: string
  Samples: string
  Regions: string
  Exclude: string
  Title: string
  Nominal: float
  Min: float
  Max: float
  Constant: TRUE/FALSE
  SubCategory: string
  Expression: string
  Category: string
  Tau: float

ShapeFactor: string
  Samples: string
  Regions: string
  Title: string

Systematic: string
  Samples: string
  Regions: string
  Exclude: string
  ExcludeRegionSample: string
  Type: HISTO/OVERALL/SHAPE/STAT
  Title: string
  TexTitle: string
  StoredName: string
  NuisanceParameter: string
  IsFreeParameter: TRUE/FALSE
  IsCorrelated: TRUE/FALSE
  Category: string
  SubCategory: string
  CombineName: string
  CombineType: STANDARDDEVIATION/ENVELOPE/STANDARDDEVIATIONNODDOF/HESSIAN/SUMINSQUARES
  HistoPathUp: string
  HistoPathDown: string
  HistoPathSufUp: string
  HistoPathSufDown: string
  HistoFileUp: string
  HistoFileDown: string
  HistoFilesUp: string
  HistoFilesDown: string
  HistoFileSufUp: string
  HistoFileSufDown: string
  HistoNameUp: string
  HistoNameDown: string
  HistoNameSufUp: string
  HistoNameSufDown: string
  HistoPathUpRefSample: string
  HistoPathDownRefSample: string
  HistoPathsUpRefSample: string
  HistoPathsDownRefSample: string
  HistoPathSufUpRefSample: string
  HistoPathSufDownRefSample: string
  HistoFileUpRefSample: string
  HistoFileDownRefSample: string
  HistoFilesUpRefSample: string
  HistoFilesDownRefSample: string
  HistoFilesUpRefSample: string
  HistoFilesDownRefSample: string
  HistoFileSufUpRefSample: string
  HistoFileSufDownRefSample: string
  HistoNameUpRefSample: string
  HistoNameDownRefSample: string
  HistoNamesUpRefSample: string
  HistoNamesDownRefSample: string
  HistoNameSufUpRefSample: string
  HistoNameSufDownRefSample: string
  NtuplePathUp: string
  NtuplePathDown: string
  NtuplePath: string
  NtuplePaths: string
  NtuplePathsUp: string
  NtuplePathsDown: string
  NtuplePathSufUp: string
  NtuplePathSufDown: string
  NtupleFileUp: string
  NtupleFilesDown: string
  NtupleFilesUp: string
  NtupleFileSufUp: string
  NtupleFileSufDown: string
  NtupleNameUp: string
  NtupleNameDown: string
  NtupleNamesUp: string
  NtupleNamesDown: string
  NtupleNameSufUp: string
  NtupleNameSufDown: string
  NtuplePathUpRefSample: string
  NtuplePathDownRefSample: string
  NtuplePathRefSample: string
  NtuplePathsRefSample: string
  NtuplePathsUpRefSample: string
  NtuplePathsDownRefSample: string
  NtuplePathSufUpRefSample: string
  NtuplePathSufDownRefSample: string
  NtupleFileUpRefSample: string
  NtupleFilesDownRefSample: string
  NtupleFilesUpRefSample: string
  NtupleFileSufUpRefSample: string
  NtupleFileSufDownRefSample: string
  NtupleNameUpRefSample: string
  NtupleNameDownRefSample: string
  NtupleNamesUpRefSample: string
  NtupleNamesDownRefSample: string
  NtupleNameSufUpRefSample: string
  NtupleNameSufDownRefSample: string
  SampleUp: string
  SampleDown: string
  WeightUp: string
  WeightDown: string
  WeightSufUp: string
  WeightSufDown: string
  IgnoreWeight: string
  Symmetrisation: ONESIDED/TWOSIDED/ABSMEAN/MAXIMUM
  Smoothing: float
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  OverallUp: float
  OverallDown: float
  ScaleUp: string
  ScaleDown: string
  ReferenceSample: string
  ReferenceSmoothing: string
  ReferencePruning: string
  DropShapeIn: string
  DropNorm: string
  DropNormSpecial: string
  KeepNormForSamples: string
  DummyForSamples: string
  PreSmoothing: TRUE/FALSE
  SubtractRefSampleVar: TRUE/FALSE
  NtupleFileDown: string
  NtupleFileDownRefSample: string
  Decorrelate: REGION/SAMPLE/SHAPEACC
  KeepReferenceOverallVar: TRUE/FALSE
  NoPruning: TRUE/FALSE
  ForceShape: NOSHAPE/LINEAR/TRIANGULAR

UnfoldingSystematic: string
  Samples: string
  Regions: string
  NuisanceParameter: string
  Type: HISTO/OVERALL/SHAPE/STAT
  Title: string
  Category: string
  SubCategory: string
  ResponseMatrixPathUp: string
  ResponseMatrixPathDown: string
  ResponseMatrixPathsUp: string
  ResponseMatrixPathsDown: string
  ResponseMatrixPathSuffUp: string
  ResponseMatrixPathSuffDown: string
  ResponseMatrixPathSuffsUp: string
  ResponseMatrixPathSuffsDown: string
  ResponseMatrixFileUp: string
  ResponseMatrixFileDown: string
  ResponseMatrixFilesUp: string
  ResponseMatrixFilesDown: string
  ResponseMatrixFileSuffUp: string
  ResponseMatrixFileSuffDown: string
  ResponseMatrixFileSuffsUp: string
  ResponseMatrixFileSuffsDown: string
  ResponseMatrixNameUp: string
  ResponseMatrixNameDown: string
  ResponseMatrixNamesUp: string
  ResponseMatrixNamesDown: string
  ResponseMatrixNameSuffUp: string
  ResponseMatrixNameSuffDown: string
  ResponseMatrixNameSuffsUp: string
  ResponseMatrixNameSuffsDown: string
  AcceptancePathUp: string
  AcceptancePathDown: string
  AcceptancePathsUp: string
  AcceptancePathsDown: string
  AcceptancePathSuffUp: string
  AcceptancePathSuffDown: string
  AcceptancePathSuffsUp: string
  AcceptancePathSuffsDown: string
  AcceptanceFileUp: string
  AcceptanceFileDown: string
  AcceptanceFilesUp: string
  AcceptanceFilesDown: string
  AcceptanceFileSuffUp: string
  AcceptanceFileSuffDown: string
  AcceptanceFileSuffsUp: string
  AcceptanceFileSuffsDown: string
  AcceptanceNameUp: string
  AcceptanceNameDown: string
  AcceptanceNamesUp: string
  AcceptanceNamesDown: string
  AcceptanceNameSuffUp: string
  AcceptanceNameSuffDown: string
  AcceptanceNameSuffsUp: string
  AcceptanceNameSuffsDown: string
  SelectionEffPathUp: string
  SelectionEffPathDown: string
  SelectionEffPathsUp: string
  SelectionEffPathsDown: string
  SelectionEffPathSuffUp: string
  SelectionEffPathSuffDown: string
  SelectionEffPathSuffsUp: string
  SelectionEffPathSuffsDown: string
  SelectionEffFileUp: string
  SelectionEffFileDown: string
  SelectionEffFilesUp: string
  SelectionEffFilesDown: string
  SelectionEffFileSuffUp: string
  SelectionEffFileSuffDown: string
  SelectionEffFileSuffsUp: string
  SelectionEffFileSuffsDown: string
  SelectionEffNameUp: string
  SelectionEffNameDown: string
  SelectionEffNamesUp: string
  SelectionEffNamesDown: string
  SelectionEffNameSuffUp: string
  SelectionEffNameSuffDown: string
  SelectionEffNameSuffsUp: string
  SelectionEffNameSuffsDown: string
  MigrationPathUp: string
  MigrationPathDown: string
  MigrationPathsUp: string
  MigrationPathsDown: string
  MigrationPathSuffUp: string
  MigrationPathSuffDown: string
  MigrationPathSuffsUp: string
  MigrationPathSuffsDown: string
  MigrationFileUp: string
  MigrationFileDown: string
  MigrationFilesUp: string
  MigrationFilesDown: string
  MigrationFileSuffUp: string
  MigrationFileSuffDown: string
  MigrationFileSuffsUp: string
  MigrationFileSuffsDown: string
  MigrationNameUp: string
  MigrationNameDown: string
  MigrationNamesUp: string
  MigrationNamesDown: string
  MigrationNameSuffUp: string
  MigrationNameSuffDown: string
  MigrationNameSuffsUp: string
  MigrationNameSuffsDown: string
  Symmetrisation: ONESIDED/TWOSIDED/ABSMEAN/MAXIMUM
  SmoothingOption: MAXVARIATION/TTBARRESONANCE/COMMONTOOLSMOOTHMONOTONIC/COMMONTOOLSMOOTHPARABOLIC/KERNELRATIOUNIFORM/KERNELDELTAGAUSS/KERNELRATIOGAUSS
  ReferenceSample: string
  OverallUp: float
  OverallDown: float

Unfolding: string
  MatrixOrientation: TRUTHONHORIZONTAL/TRUTHONVERTICAL
  TruthDistributionPath: string
  TruthDistributionFile: string
  TruthDistributionName: string
  NumberOfTruthBins: int
  Tau: string
  RegularizationType: int
  TitleX: string
  TitleY: string
  ScaleRangeY: float
  RatioYmax: float
  RatioYmin: float
  LogX: TRUE/FALSE
  LogY: TRUE/FALSE
  TitleOffsetX: float
  TitleOffsetY: float
  UnfoldingResultMin: float
  UnfoldingResultMax: float
  NominalTruthSample: string
  AlternativeAsimovTruthSample: string
  MigrationTitleX: string
  MigrationTitleY: string
  MigrationLogX: TRUE/FALSE
  MigrationLogY: TRUE/FALSE
  MigrationTitleOffsetX: float
  MigrationTitleOffsetY: float
  PlotSystematicMigrations: TRUE/FALSE
  MigrationText: TRUE/FALSE
  MigrationZmin: float
  MigrationZmax: float
  ResponseZmin: float
  ResponseZmax: float
  DivideByBinWidth: TRUE/FALSE
  DivideByLumi: float
  UnfoldNormXSec: TRUE/FALSE
  UnfoldNormXSecBinN: int
  Expressions: string

TruthSample: string
  Title: string
  LineColor: int
  LineStyle: int
  TruthDistributionPath: string
  TruthDistributionFile: string
  TruthDistributionName: string
  UseForPlotting: TRUE/FALSE
  
