unfoldingInput*
architecture.txt
plenv*
*~
config/*.config
mc*
binning_optimisation*
scripts/__pycache__/
observable_correlations*
results*
syst_impact*
breakdown*/
MCstat*/
config/trex/*
config/Phi/trex/*
pull_test*