Job: "JobDataDriven"
  Label: "data-driven bkg"
  CmeLabel: "13 TeV"
  LumiLabel: "33.3 fb^{-1}"
  AtlasLabel: "internal" 
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "exampleDataDriven"
  FitType: SPLUSB
  DebugLevel: 0
  SystErrorBars: TRUE
  SystControlPlots: TRUE
  #SystDataPlots: fillUpFrame
  HistoChecks: NOCRASH
  #SystPruningNorm: 0.01
  #SystPruningShape: 0.01
  MCstatThreshold: 0.01
  ImageFormat: png
  RankingMaxNP: 10
  RankingPlot: all
  CorrelationThreshold: 0.05
  PlotOptions: OVERSIG
  KeepPruning: TRUE
  DebugLevel: 1


Fit: "FitTtres"
#  FitType: SPLUSB
  FitType: BONLY
  FitBlind: FALSE
  #POIAsimov: 1
  #doLHscan: all

Limit: "LimitTtres"
  LimitBlind: FALSE
  #SignalInjection : TRUE

Region: "rCR"
  Type: SIGNAL
  HistoName: "xCR"
  VariableTitle: "x in a.u."
  Label: "Control Region"
  ShortLabel: "CR"
  LogScale: FALSE

Region: "rSR"
  Type: SIGNAL
  HistoName: "xSR"
  VariableTitle: "x in a.u."
  Label: "Signal Region"
  ShortLabel: "SR"
  LogScale: FALSE
  
Sample: "Data"
  Title: "Data"
  Type: data
  HistoFile: "hist_data"

Sample: "bkg1"
  Type: BACKGROUND
  Title: "bkg1 MC"
  LineColor: 1
  HistoFile: "hist_bkg1"
    
Sample: "bkg2"
  Type: BACKGROUND
  Title: "bkg2 data-driven"
  FillColor: 9
  UseMCstat: FALSE
  HistoFile: "hist_bkg2"

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  LineColor: 632
  NormFactor: "SigXsecOverSM",0,-4,4
  HistoFile: "hist_signal"

NormFactor: "nfExtr"
   Title: "nfExtrapolation"
   Nominal: 1
   Min: 0
   Max: 4
   Samples: bkg2
   Regions: rSR

% NormFactor: "nfBkg2"
%    Title: "nfBkg2"
%    Nominal: 1
%    Min: 0
%    Max: 100
%    Samples: bkg2
%    Regions: rCR,rSR

ShapeFactor: "sfShape"
   Title: "sfShape"
   Samples: bkg2
   Regions: rCR,rSR

% Systematic: "lumi"
%   Title: "Luminosity"
%   Type: OVERALL
%   OverallUp: 0.05
%   OverallDown: -0.05
%   Samples: bkg1,Signal
%   Symmetrisation: TwoSided
%   Smoothing: 40
% 
% Systematic: "bkg1CrossSection"
%   Title: "bkg1 cross-section"
%   Type: OVERALL
%   OverallUp: 0.06
%   OverallDown: -0.04
%   Samples: bkg1
%   Symmetrisation: TwoSided
%   Smoothing: 40
