% --------------- %
% ---  JOB    --- %
% --------------- %

% Starting from EWKttWj_Opt_v3_asimov, but binning in charge and nBjet
Job: "EWKttWj_EFTREx_v0.1.1_EFT6_asimov"
  Label: "tW scattering"
  CmeLabel: "13 TeV"
  POI: "norm_ttW"
  ReadFrom: NTUP
  NtuplePaths: "/mnt/lustre/projects/epp/general/atlas/jam58/analysis/atlas/13TeV_EWKttWj/fitting/v1/tempForTrex/"
  LumiLabel: "139 fb^{-1}"
  MCweight: "1."
  Selection: "1.0"
  PlotOptions: "NOXERR"
  NtupleName: "nominal_Loose"
  DebugLevel: 4
  MCstatThreshold: 0.01
  SystControlPlots: TRUE
  UseATLASRounding: TRUE
  RankingMaxNP: 15
  HistoChecks: NOCRASH
  SplitHistoFiles: FALSE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  CorrelationThreshold: 0.1
  %StatOnly: TRUE
  SystPruningShape: 0.025
  SystPruningNorm: 0.025

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: EFT %SPLUSB %BONLY %SPLUSB
  FitRegion: CRSR %CRONLY %CRSR
  FitBlind: FALSE
  POIAsimov: 1.0
  UseMinos: all 
  %doLHscan: mu_eft
  %LHscanMin: -10
  %LHscanMax: 10
  %LHscanSteps:100
  %SetRandomInitialNPval: 0.1
  %SetRandomInitialNPvalSeed: 1234567

% --------------- %
% ---  LIMIT  --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE
%  POIAsimov: 1.0
%  SignalInjection: TRUE


% ---------------------- %
% ---  SIGNIFICANCE  --- %
% ---------------------- %

Significance:"significance" 
  SignificanceBlind: FALSE
  POIAsimov: 1.0


% --------------- %
% --- REGIONS --- %
% --------------- %

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Signal Region
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

Region: "sr_deltaEta"
  Type: SIGNAL
%  DataType: ASIMOV
  Variable: "Leptons_Pt[0]",40,80,480
  Binning: 80,110,150,210,480
%  Binning: "AutoBin","TransfoD",2,2
  VariableTitle: "p_{T}(l_{0}) [GeV]"
  Label: "SR "
  ShortLabel: "SR "
  Selection: "nJets>=4 && (abs(jet_eta[FJetInd]-jet_eta[MaxInvMassFJet])>2 &&  Sum$(jet_pt)>250000) && Leptons_Pt[0]>80 && Leptons_Pt[1]>40 && m2l>125 && nEl+nMu ==2 && Leptons_Charge[0]==Leptons_Charge[1] && Min$(Leptons_Istight_forReprocessing)==1 && (Leptons_Pdgid[0]==11?abs(Leptons_Eta[0])<2.0:1) && (Leptons_Pdgid[1]==11?abs(Leptons_Eta[1])<2.0:1) && Min$(Leptons_ECIDS)==1 && nBJets77>=1 && (nEl==2? (m2l<81.1 || m2l>101.1):1) && jet_pt[0]>60000 &&  !((Leptons_Pdgid[0]==11 && radius_conv[0]> -50 && radius_conv[0]<50) ||  (Leptons_Pdgid[1]==11 && radius_conv[1]> -50 && radius_conv[1]<50))"



% --------------- %
% --- SAMPLES --- %
% --------------- %


Sample: "ghost_ttW_EW"
  Type: GHOST
  Title: "t#bar{t}W EW"
  FillColor: 0
  LineColor: 1
  NtupleFiles: "412123d","412123a","412123e"
  MCweight: "mc_generator_weights[61]*weight_pileup*weight_bTagSF_MV2c10_77*weight_leptonSF*weight_jvt*XSecWeight"
  LumiScales:44307,36100,58600

Sample: "ghost_ttW_QCD"
  Type: GHOST
  Title: "t#bar{t}W QCD"
  FillColor: 829
  LineColor: 829
  NtupleFiles: "410155d","410155a","410155e"
  MCweight: "weight_mc*weight_pileup*weight_bTagSF_MV2c10_77*weight_leptonSF*weight_jvt*XSecWeight"
  LumiScales:44307,36100,58600

%% EFT SAMPLES

Sample: "EFT_ttW_EW_cptm6";"EFT_ttW_EW_cpt6";"EFT_ttW_EW_cptm4p9";"EFT_ttW_EW_cpt4p9";"EFT_ttW_EW_cptm2p6";"EFT_ttW_EW_cpt2p5";
  Type: EFT
  EFTSMReference: "ttW_EW"
  EFTParam: "cpt"
  EFTTitle: "c_{#phit}"
  EFTValue: -6.0; 6.0; -4.9; 4.9; -2.5; 2.5
  NtupleFiles: "412125d","412125a","412125e";"412124d","412124a","412124e";"412127d","412127a","412127e";"412126d","412126a","412126e";"412129d","412129a","412129e";"412128d","412128a","412128e"
  MCweight: "mc_generator_weights[61]*weight_pileup*weight_bTagSF_MV2c10_77*weight_leptonSF*weight_jvt*XSecWeight"
  LumiScales:44307,36100,58600


%% NORMAL SAMPLES

Sample: "Data" %ttW_QCD
  Type: DATA
  Title: "Data"
  AddSamples: ghost_ttW_QCD,ghost_ttW_EW,EFT_ttW_EW_cpt6
 
Sample: "ttW"
  Type: BACKGROUND
  Title: "t#bar{t}W QCD"
  FillColor: 829
  LineColor: 829
  NtupleFiles: "410155d","410155a","410155e"
  MCweight: "weight_mc*weight_pileup*weight_bTagSF_MV2c10_77*weight_leptonSF*weight_jvt*XSecWeight"
  LumiScales:44307,36100,58600


%%%%% EFT SIGNAL SAMPLES %%%%

Sample: "ttW_EW"
  Type: EFT
  Title: "t#bar{t}W EW"
  EFTSMReference: "NONE"
  FillColor: 0
  LineColor: 1
  NtupleFiles: "412123d","412123a","412123e"
  MCweight: "mc_generator_weights[61]*weight_pileup*weight_bTagSF_MV2c10_77*weight_leptonSF*weight_jvt*XSecWeight"
  LumiScales:44307,36100,58600




% ---------------- %
% - Norm Factors - %
% ---------------- %

NormFactor: "cpt"
  Title: "c_{#phit}"  
  Category: EFT
  Exclude: *
  Nominal: 0.0
  Min: -100.0
  Max: 100.0


NormFactor: "norm_ttW"
  Samples: ttW
  Title: "SF_{t#bar{t}W QCD}"
  Nominal: 1.0
  Min: 0.0
  Max: 10.0



%----------------------
% Cross-section
%----------------------



%-------------

