Job: "FitExampleMorphing"
  Label: "FitExampleMorphing"
  CmeLabel: "13 TeV"
  ImageFormat: png
  LumiLabel: "139 fb^{-1}"
  ReadFrom: HIST
  POI: "topWidth"
  HistoPath: "ExampleInputsMorphing"
  DebugLevel: 1
  SystControlPlots: TRUE
  MCstatThreshold: 0.03
  StatOnly: FALSE
  RatioYmax: 1.2
  RatioYmin: 0.8
  RankingMaxNP: 15
  CorrelationThreshold: 0.2
  SmoothingOption: TTBARRESONANCE
  DoSummaryPlot: FALSE
  DoPieChartPlot: FALSE
  SystDataPlots: TRUE
  GetChi2: STAT+SYST
  PlotOptions: CHI2
  RankingPOIName: "#Gamma_{t}"
  SystPruningShape: 0.0001
  SystPruningNorm: 0.001

Fit: "FitExampleMorphing"
  FitType: SPLUSB
  FitRegion: CRSR
  NumCPU: 1
  UseMinos: topWidth
  POIAsimov: 1.32
  doLHscan: topWidth
  SaturatedModel: TRUE
  GetGoodnessOfFit: TRUE
  TemplateInterpolationOption: LINEAR

Region: "SR_lep"
  Label: "el#mu+jets"
  Type: SIGNAL
  HistoName: "nominal/reco_mlb150"
  VariableTitle: "reco m_{lb} [GeV]"

Region: "CR_Wmass"
  Label: "el#mu+jets"
  Type: CONTROL
  HistoName: "nominal/reco_Whad_m_25bins"
  VariableTitle: "reco W mass [GeV]"

Sample: "Nom_lep"
  Type: GHOST
  Title: "t#bar{t}"
  HistoFile: "ttbar"
  Regions: SR_lep

Sample: "Nom_Wmass"
  Type: GHOST
  Title: "t#bar{t}"
  HistoFile: "ttbar"
  Regions: CR_Wmass

Sample: "PseudoData"
  Type: data
  Title: "PseudoData"
  HistoFile: "Pseudodata"
  HistoName: "reco_mlb150"
  Regions: SR_lep

Sample: "PseudoData"
  Type: data
  Title: "PseudoData"
  HistoFile: "Pseudodata"
  HistoName: "reco_Whad_m_25bins"
  Regions: CR_Wmass

Sample: "Bkg_SR"
  Type: BACKGROUND
  Title: "Bkg"
  FillColor: 619
  LineColor: 619
  SeparateGammas: TRUE
  HistoFile: "Bkg"
  Regions: SR_lep

Sample: "Bkg_CR"
  Type: BACKGROUND
  Title: "Bkg"
  FillColor: 619
  LineColor: 619
  SeparateGammas: TRUE
  HistoFile: "Bkg"
  Regions: CR_Wmass

Sample: "Signal_0p7"
  Type: SIGNAL
  Title: "t#bar{t}"
  FillColor: 0
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "nominal/width_0p7/reco_mlb150"
  Morphing: "topWidth",0.7
  Regions: SR_lep

Sample: "Signal_1p0"
  Type: SIGNAL
  Title: "t#bar{t}"
  FillColor: 0
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "nominal/width_1p0/reco_mlb150"
  Morphing: "topWidth",1.0
  Regions: SR_lep

Sample: "Signal_1p5"
  Type: SIGNAL
  Title: "t#bar{t}"
  FillColor: 0
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "nominal/width_1p5/reco_mlb150"
  Morphing: "topWidth",1.5
  Regions: SR_lep

Sample: "Signal_2p0"
  Type: SIGNAL
  Title: "t#bar{t}"
  FillColor: 0
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "nominal/width_2p0/reco_mlb150"
  Morphing: "topWidth",2.0
  Regions: SR_lep

Sample: "Control_Wmass"
  Type: SIGNAL
  Title: "t#bar{t}"
  FillColor: 0
  LineColor: 1
  HistoFile: "ttbar"
  HistoName: "nominal/reco_Whad_m_25bins"
  Regions: CR_Wmass

NormFactor: "ttbarXsec"
  Title: "ttbarXsec"
  Nominal: 1
  Min: -10
  Max: 10
  Samples: Signal_0p7,Signal_1p0,Signal_1p5,Signal_2p0,Control_Wmass

NormFactor: "topWidth"
  Title: "topWidth"
  Nominal: 1.32
  Min: 0.7
  Max: 2.0
  Samples: none

Systematic: "bTagSF_B_0"
  Title: "bTagSF_B_0"
  NuisanceParameter: "bTagSF_B_0"
  Type: HISTO
  ReferenceSample: Nom_lep
  ReferencePruning: Signal_1p5
  Samples: Signal_0p7,Signal_1p0,Signal_1p5,Signal_2p0
  HistoFileUp: "ttbar"
  HistoFileDown: "ttbar"
  HistoNameUp: "weight_bTagSF_MV2c10_60_eigenvars_B_up_0/reco_mlb150"
  HistoNameDown: "weight_bTagSF_MV2c10_60_eigenvars_B_down_0/reco_mlb150"
  Symmetrisation: TwoSided
  Category: Btag
  Regions: SR_lep

Systematic: "bTagSF_B_0"
  Title: "bTagSF_B_0"
  NuisanceParameter: "bTagSF_B_0"
  Type: HISTO
  Samples: Control_Wmass
  HistoFileUp: "ttbar"
  HistoFileDown: "ttbar"
  HistoNameUp: "weight_bTagSF_MV2c10_60_eigenvars_B_up_0/reco_Whad_m_25bins"
  HistoNameDown: "weight_bTagSF_MV2c10_60_eigenvars_B_down_0/reco_Whad_m_25bins"
  Symmetrisation: TwoSided
  Category: Btag
  Regions: CR_Wmass

Systematic: "JET_BJES_Response"
  Title: "JET_BJES_Response"
  NuisanceParameter: "JET_BJES_Response"
  Type: HISTO
  ReferenceSample: Nom_lep
  ReferencePruning: Signal_1p5
  Samples: Signal_0p7,Signal_1p0,Signal_1p5,Signal_2p0
  HistoFileUp: "ttbar"
  HistoFileDown: "ttbar"
  HistoNameUp: "CategoryReduction_JET_BJES_Response__1up/reco_mlb150"
  HistoNameDown: "CategoryReduction_JET_BJES_Response__1down/reco_mlb150"
  Symmetrisation: TwoSided
  Category: Jet
  Smoothing: 40
  Regions: SR_lep

Systematic: "JET_BJES_Response"
  Title: "JET_BJES_Response"
  NuisanceParameter: "JET_BJES_Response"
  Type: HISTO
  Samples: Control_Wmass
  HistoFileUp: "ttbar"
  HistoFileDown: "ttbar"
  HistoNameUp: "CategoryReduction_JET_BJES_Response__1up/reco_Whad_m_25bins"
  HistoNameDown: "CategoryReduction_JET_BJES_Response__1down/reco_Whad_m_25bins"
  Symmetrisation: TwoSided
  Category: Jet
  Smoothing: 40
  Regions: CR_Wmass
