% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "StatOnly"
  Label: "t#bar{t}H to multileptons"
  CmeLabel: "13 TeV"
  LumiLabel: "3.32 fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  MCstatThreshold: 0.02
%  NtuplePath: "/afs/cern.ch/work/k/kuna/public/GroupW2_Data"
%  NtuplePath: "root://eosatlas//eos/atlas/user/j/jdevivi/multileptons_Run2/"
%  NtuplePath: "root://eosatlas//eos/atlas/user/k/kuna/"
  NtuplePath: "root://eosatlas//eos/atlas/user/a/achomont/"
  NtupleName: "nominal"  
  DebugLevel: 9
%  MCweight: "mcWeightOrg*pileupEventWeight_090*lepTrigSFEventWeight*lepSFWeight*TauIDEVSF*JetTagWeight*1*TopPtEventWeight"
%  MCweight: "mcWeightOrg*pileupEventWeight_090*lepTrigSFEventWeight*SCALE_weight"
  MCweight: "3320.*SCALE_weight*mcWeightOrg*pileupEventWeight_090*lepTrigSFEventWeight"
%  Selection: "passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50) && (electron_match_HLT_e24_lhmedium_L1EM18VH || electron_match_HLT_e60_lhmedium || electron_match_HLT_e120_lhloose || muon_match_HLT_mu20_iloose_L1MU15 || muon_match_HLT_mu50)"
  Selection: "passEventCleaning"
  PlotOptions: "YIELDS"


% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  
% --------------- %
% --- REGIONS --- %
% --------------- %
  
% Region: "LOW_NJET"
%   Type: CONTROL
%   Variable: "1",1,0,1
%   VariableTitle: "Nevents"
%  Label: "Low Njet Region"
%   Selection: "JetMul<4 || N_b <1"
%   ShortLabel: "SR 1"
 
Region: "l3"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "3l"
%% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&trilep_type>0&&(lep_Pt_0>10e3&&lep_Pt_1>20e3&&lep_Pt_2>20e3)&&((abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0)||(abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0))&&((abs(lep_ID_2)==11&&lep_isolationFixedCutTight_2>0&&lep_isTightLH_2>0)||(abs(lep_ID_2)==13&&lep_isolationFixedCutTightTrackOnly_2>0))&&(Mll01>12e3&&Mll02>12e3)&&abs(total_charge)==1&&(lep_ID_0!=-lep_ID_1||(Mll01<81e3||Mll01>101e3))&&(lep_Z0SinTheta_1<0.5&&lep_Z0SinTheta_2<0.5)&&((abs(lep_ID_1)==11&& lep_D0_1<5)||(abs(lep_ID_1)==13&& lep_D0_1<3))&&((abs(lep_ID_2)==11&&lep_D0_2<5)||(abs(lep_ID_2)==13&&lep_D0_2<3))&&(lep_ID_0!=-lep_ID_2||(Mll02<81e3||Mll02>101e3))&&((nJets_OR_T_MV2c20_77>=1&&nJets_OR_T>=4)||(nJets_OR_T_MV2c20_77>=2&&nJets_OR_T==3))"
  ShortLabel: "3l"
  DataType:"ASIMOV"
  
Region: "l2ee5j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "ee 5j"
% Run 1 definition
%  Selection:"passEventCleaning && ((top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==3&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "ee 5j"
  DataType:"ASIMOV"
  
Region: "l2ee4j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "ee 4j"
% Run 1 definition
%  Selection:"passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==3&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "ee 4j"
  DataType:"ASIMOV"

Region: "l2em5j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
  Label: "e#mu 5j"
% Run 1 definition
%  Selection:"passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==2&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "e#mu 5j"
  DataType:"ASIMOV"
  
Region: "l2em4j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "e#mu 4j"
% Run 1 definition
%  Selection:"passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==2&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "e#mu 4j"
  DataType:"ASIMOV"


Region: "l2mm5j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "#mu#mu 5j"
% Run 1 definition
%  Selection:"passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==1&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "#mu#mu 5j"
  DataType:"ASIMOV"
  
Region: "l2mm4j"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "#mu#mu 4j"
% Run 1 definition
%  Selection:"passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1"
% Run 2 definition
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(lep_Pt_0>25e3&&lep_Pt_1>25e3)&&dilep_type==1&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5)))&&nTaus_OR_Pt25==0&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.37)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.37))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1"
% temp dummy definition cause we donn't have all the variables
  ShortLabel: "#mu#mu 4j"
  DataType:"ASIMOV"

Region: "l2tau"
  Type: SIGNAL
  Variable: "1",1,0,1
  VariableTitle: "Nevents"
%  Variable: "nJets_OR_T",10,0,10
%  VariableTitle: "N#_{jets}"
  Label: "2l #tau"
% Run 1 definition
%  Selection:"passEventCleaning&&(Mll01<81e3||Mll01>101e3 || abs(lep_ID_0) != 11 || abs(lep_ID_1) != 11)&&(top_hfor_type!=4)&&dilep_type>0&&(lep_Pt_0>15e3&&lep_Pt_1>15e3)&&nTaus_OR_Pt25==1&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)==2&&m_tau_charge[0]*lep_ID_0>0&&nJets_OR_T>=4&&nJets_OR_T_MV1_70>=1"
% Run 2 definition
%  Selection:"(Mll01<81e3||Mll01>101e3 || abs(lep_ID_0) != 11 || abs(lep_ID_1) != 11)&&(((abs(lep_ID_1)==11&&lep_isolationFixedCutLoose_1>0&&lep_isTightLH_1>0&&lep_D0_1<5&&lep_Z0SinTheta_1<0.5))||(abs(lep_ID_1==13&&lep_isolationFixedCutLoose_1>0&&lep_D0_1<3&&lep_Z0SinTheta_1<0.5)))&&(((abs(lep_ID_0)==11&&lep_isolationFixedCutLoose_0>0&&lep_isTightLH_0>0&&lep_D0_0<5&&lep_Z0SinTheta_0<0.5))||(abs(lep_ID_0==13&&lep_isolationFixedCutLoose_0>0&&lep_D0_0<3&&lep_Z0SinTheta_0<0.5)))&&dilep_type>0&&(lep_Pt_0>15e3&&lep_Pt_1>15e3)&&nTaus_OR_Pt25==1&&abs(total_charge)==2&&m_tau_charge[0]*lep_ID_0>0&&nJets_OR_T>=4&&nJets_OR_T_MV2c20_77>=1"
%  Selection:"(Mll01<81e3||Mll01>101e3 || abs(lep_ID_0) != 11 || abs(lep_ID_1) != 11)&&(((abs(lep_ID_1)==11&&lep_isolationFixedCutLoose_1>0&&lep_isTightLH_1>0&&lep_D0_1<5&&lep_Z0SinTheta_1<0.5))||(abs(lep_ID_1==13&&lep_isolationFixedCutLoose_1>0&&lep_D0_1<3&&lep_Z0SinTheta_1<0.5)))&&(((abs(lep_ID_0)==11&&lep_isolationFixedCutLoose_0>0&&lep_isTightLH_0>0&&lep_D0_0<5&&lep_Z0SinTheta_0<0.5))||(abs(lep_ID_0==13&&lep_isolationFixedCutLoose_0>0&&lep_D0_0<3&&lep_Z0SinTheta_0<0.5)))&&dilep_type>0&&(lep_Pt_0>15e3&&lep_Pt_1>15e3)&&nTaus_OR_Pt25==1&&abs(total_charge)==2&&nJets_OR_T>=4&&nJets_OR_T_MV2c20_77>=1"
  Selection:"passEventCleaning && (HLT_e24_lhmedium_L1EM18VH || HLT_e60_lhmedium || HLT_e120_lhloose || HLT_mu20_iloose_L1MU15 || HLT_mu50)&&(abs(Mll01-91.2e3)>10e3 || abs(lep_ID_0) != 11 || abs(lep_ID_1) != 11)&&(((abs(lep_ID_0)==13&&lep_isolationFixedCutTightTrackOnly_0>0&&abs(lep_D0_0)<3&&abs(lep_Z0SinTheta_0)<0.5)||(abs(lep_ID_0)==11&&lep_isolationFixedCutTight_0>0&&lep_isTightLH_0>0&&abs(lep_D0_0)<5&&abs(lep_Z0SinTheta_0)<0.5)))&&(((abs(lep_ID_1)==13&&lep_isolationFixedCutTightTrackOnly_1>0&&abs(lep_D0_1)<3&&abs(lep_Z0SinTheta_1)<0.5)||(abs(lep_ID_1)==11&&lep_isolationFixedCutTight_1>0&&lep_isTightLH_1>0&&abs(lep_D0_1)<5&&abs(lep_Z0SinTheta_1)<0.5))) &&dilep_type>0&&abs(total_charge)!=0&&(lep_Pt_0>15e3&&lep_Pt_1>15e3)&&nTaus_OR_Pt25==1&&nJets_OR_T>=4&&nJets_OR_T_MV2c20_77>=1"
  ShortLabel: "2l #tau"
  DataType:"ASIMOV"


% (electron_match_HLT_e24_lhmedium_L1EM18VH || electron_match_HLT_e60_lhmedium || electron_match_HLT_e120_lhloose || muon_match_HLT_mu20_iloose_L1MU15 || muon_match_HLT_mu50)

 
% l2ee_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1

% l2ee4j_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==3&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1


% l2em_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==2&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1


% l2em4j_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==2&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1


% l2mm_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==1&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T>=5&&nJets_OR_T_MV2c20_77>=1


% l2mm4j_notau
% passEventCleaning&&(top_hfor_type!=4)&&(lep_Pt_0>20e3&&lep_Pt_1>20e3)&&dilep_type==1&&((abs(lep_ID_0)==11||lep_Etcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Etcone20_1/lep_Pt_1<0.05))&&((abs(lep_ID_0)==11||lep_Ptcone20_0/lep_Pt_0<0.05)&&(abs(lep_ID_1)==11||lep_Ptcone20_1/lep_Pt_1<0.05))&&nTaus_OR_Pt25==0&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)!=0&&((abs(lep_ID_0)==13||abs(lep_Eta_0)<1.5)&&(abs(lep_ID_1)==13||abs(lep_Eta_1)<1.5))&&nJets_OR_T==4&&nJets_OR_T_MV2c20_77>=1

% l2tau
% passEventCleaning&&(Mll01<81e3||Mll01>101e3 || abs(lep_ID_0) != 11 || abs(lep_ID_1) != 11)&&(top_hfor_type!=4)&&dilep_type>0&&(lep_Pt_0>15e3&&lep_Pt_1>15e3)&&nTaus_OR_Pt25==1&&(((lep_Match_EF_mu24i_tight_0||lep_Match_EF_mu36_tight_0||lep_Match_EF_e24vhi_medium1_0||lep_Match_EF_e60_medium1_0)&&lep_Pt_0>25e3)||((lep_Match_EF_mu24i_tight_1||lep_Match_EF_mu36_tight_1||lep_Match_EF_e24vhi_medium1_1||lep_Match_EF_e60_medium1_1)&&lep_Pt_1>25e3))&&abs(total_charge)==2&&m_tau_charge[0]*lep_ID_0>0&&nJets_OR_T>=4&&nJets_OR_T_MV1_70>=1


% 4l
% passEventCleaning&&(top_hfor_type!=4)&&(quadlep_type>0)&&passTriggerMatch&&(abs(total_charge)==0)&&(lep_Pt_0>25e3&&lep_Pt_1>15e3)&&(Mllll>100e3)&&(Mllll<500e3)&&(((lep_ID_0!=-lep_ID_1)||(Mll01>10e3))&&((lep_ID_0!=-lep_ID_2)||(Mll02>10e3))&&((lep_ID_0!=-lep_ID_3)||(Mll03>10e3))&&((lep_ID_1!=-lep_ID_2)||(Mll12>10e3))&&((lep_ID_1!=-lep_ID_3)||(Mll13>10e3))&&((lep_ID_2!=-lep_ID_3)||(Mll23>10e3)))&&(((lep_ID_0!=-lep_ID_1)||(Mll01<81e3)||(Mll01>101e3))&&((lep_ID_0!=-lep_ID_2)||(Mll02<81e3)||(Mll02>101e3))&&((lep_ID_0!=-lep_ID_3)||(Mll03<81e3)||(Mll03>101e3))&&((lep_ID_1!=-lep_ID_2)||(Mll12<81e3)||(Mll12>101e3))&&((lep_ID_2!=-lep_ID_3)||(Mll23<81e3)||(Mll23>101e3)))&&(nJets_OR_T>=2)&&(nJets_OR_T_MV2c20_77>=1)

 
% --------------- %
% --- SAMPLES --- %
% --------------- %

% blanc : 300
% jaune : 400
% marron: 28
% mauve: 591
% vert: 8
% bleu moyen: 62
% bleu roi: 4
% orange : 95
% caca d'oie/mustard yellow : 799
% gris: 920
% rouge : 632
% violet: 
% grey: 920
% dark red: 630
% violet clair : 876
% violet foncé : 619
% 46 ?

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
%  NtupleFiles: "341270_nominal","341177_nominal","341271_nominal"
  NtupleFiles: "341270","341177","341271"
  NtupleName: "nominal"
 

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t}"
  FillColor: 876
  LineColor: 1
%  NtupleFile: "410000_nominal"
  NtupleFile: "410000"
  NtupleName: "nominal"


%Sample: "Fakes"
%  Type: BACKGROUND
%  Title: "Fakes"
%%  NormalizedByTheory: FALSE
%%  IgnoreSelection: TRUE
%%  FillColor: 300
%  MCweight: "Fakes_weight*mcWeightOrg*pileupEventWeight_090*lepTrigSFEventWeight"
%  FillColor: 28
%  LineColor: 1
%%  NtupleFile: "410000_nominal"
%  NtupleFile: "410000"
%  NtupleName: "nominal"

%Sample: "QMisID"
%  Title: "Q MisID"
%  Type: BACKGROUND
%  MCweight: "QMisId_weight*mcWeightOrg*pileupEventWeight_090*lepTrigSFEventWeight"
%%  NormalizedByTheory: FALSE
%%  IgnoreSelection: TRUE
%%  FillColor: 46
%  FillColor: 400
%  LineColor: 1
%  NtupleFile: "341270_nominal"
%  NtupleName: "nominal"
%  LumiScales: "0.000303"
 
Sample: "ttW"
  Type: BACKGROUND
  Title: "t#bar{t}W"
  FillColor: 400
  LineColor: 1
  NtupleFiles: "410066","410067","410068"
  NtupleName: "nominal"

Sample: "ttZ"
  Type: BACKGROUND
  Title: "t#bar{t}Z"
  FillColor: 4
  LineColor: 1
  NtupleFiles: "410111","410112","410113","410114","410115","410116"
  NtupleName: "nominal"


Sample: "VV"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 8
  LineColor: 1
%  NtupleFiles: "361063_nominal","361064_nominal","361065_nominal","361066_nominal","361067_nominal","361068_nominal","361069_nominal","361070_nominal","361071_nominal","361072_nominal","361073_nominal","361077_nominal","361081_nominal","361082_nominal","361083_nominal","361084_nominal","361085_nominal","361086_nominal","361087_nominal"
  NtupleFiles: "361063","361064","361065","361066","361067","361068","361069","361070","361071","361072","361073","361077","361081","361082","361083","361084","361085","361086","361087"
  NtupleName: "nominal"

Sample: "Rare"
  Type: BACKGROUND
  Title: "Rare"
%  FillColor: 400
  FillColor: 591
  LineColor: 1
%  NtupleFile: "410000"
%  NtupleFiles: "410011_nominal","410012_nominal","410013_nominal","410014_nominal","410025_nominal"
  NtupleFiles: "410011","410012","410013","410014","410025"
  NtupleName: "nominal"


% ------------------- %
% --- SYSTEMATICS --- %
% --------------------%


%%%%%%%%%% Dummy %%%%%%%%%%%%%  

Systematic: "Dummy"
  Title: "Dummy"
  Type: OVERALL
  OverallUp: 0.00001
  OverallDown: -0.00001
  Samples: ttH,ttbar
  Category: Instrumental



%%%%%%%%%% LUMINOSITY %%%%%%%%%%%%%  

%Systematic: "LUMI"
%  Title: "Luminosity"
%  Type: OVERALL
%  OverallUp: 0.09
%  OverallDown: -0.09
%  Samples: ttH,ttbar,ttZ,ttW,Fakes,Rare,Z+jets,VV
%  Category: Instrumental


%%%%%%%%%% THEORY %%%%%%%%%%%%%  

%Systematic: "ttW QCD scale XS"
%  Title: "ttW QCD scale XS"
%  Type: OVERALL
%  OverallUp: 0.12
%  OverallDown: -0.12
%  Samples: ttW
%  Category: Theory

%Systematic: "ttW PDF XS"
%  Title: "ttW PDF XS"
%  Type: OVERALL
%  OverallUp: 0.073
%  OverallDown: -0.086
%  Samples: ttW
%  Category: Theory

%Systematic: "ttZ QCD scale XS"
%  Title: "ttZ QCD scale XS"
%  Type: OVERALL
%  OverallUp: 0.12
%  OverallDown: -0.12
%  Samples: ttZ
%  Category: Theory

%Systematic: "ttZ PDF XS"
%  Title: "ttZ PDF XS"
%  Type: OVERALL
%  OverallUp: 0.073
%  OverallDown: -0.086
%  Samples: ttW
%  Category: Theory










