MultiFit: "myTopWS_multifit"
  Label: "t#bar{t}H l+jets"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "85 pb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: TRUE
  POIRange: -10:100
  ShowObserved: TRUE  % used for plot, not for fit
  DataName: "obsData"   % asimovData
  CombineChByCh: TRUE
  PlotSoverB: TRUE
  
Fit: "CR"
  ConfigFile: config/myTopWS_CR.config
  Label: "CR-only"
  
Fit: "SR"
  ConfigFile: config/myTopWS_SR.config
  Label: "SR"
