% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "myTopWS" 
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/afs/cern.ch/work/p/pinamont/public/flatNtup_TTHBB_test/"
  Label: "ttH Single Lepton"
  LumiLabel: "85 pb^{-1}"
  MCweight: "FinalWeight*weight_leptonSF*weight_bTagSF"
  Lumi: 84.9676
  Selection: "trigger>0 && (e_jets || mu_jets)"
  NtupleName: "nominal"
  DebugLevel: 0
  MCstatThreshold: 0.01
  SystControlPlots: TRUE
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE   % set this in order to have separated .root files in Histograms/ for different regions
  ImageFormat: "png"

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB  % BONLY
  FitRegion: CRSR  % CRONLY
  FitBlind: FALSE  % TRUE

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
  LimitBlind: FALSE % TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %
  
Region: "HThad_4j2b"
  Type: CONTROL
  Variable: "HhadT_jets/1e3",20,100,1100
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "4 j, 2 b"
  ShortLabel: "4j,2b"
  NtuplePathSuff: "4j2b"
  Binning: 100,200,250,300,350,400,450,500,550,600,700,1100
  BinWidth: 50
  
Region: "HThad_5j3b"
  Type: CONTROL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "5 j, 3 b"
  ShortLabel: "5j,3b"
  NtuplePathSuff: "5j3b"
  Binning: 100,200,300,400,500,600,1000,1600
  BinWidth: 100
  
Region: "HThad_ge6jge4b"
  Type: SIGNAL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "#geq 6 j, #geq 4 b"
  ShortLabel: "#geq6j,#geq4b"
  NtuplePathSuff: "ge6jge4b"
  Binning: 100,400,700,1600
  BinWidth: 300

% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "Data"
  Title: "Data 2015"
  Type: DATA
  NtupleFile: "data"

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  FillColor: 2
  LineColor: 2
  NtupleFile: "ttH"
  Regions: "HThad_ge6jge4b","HThad_5j3b"

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  FillColor: 0
  LineColor: 1
  NtupleFile: "ttbar"
  
Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  NtupleFile: "singleTop"
  
% --------------- %
% - NORMFACTORS - %
% --------------- %
  
NormFactor: "SigXsecOverSM"
  Title: "#mu_{t#bar{t}H}"
  Nominal: 1
  Min: -10
  Max: 100
  Samples: ttH
    
% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only
  
Systematic: "stXsec"
  Title: "Single top x-section" 
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop

Systematic: "ttXsec"
  Title: "t#bar{t} x-section" 
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttbar

% Weight systematics

Systematic: "BTag_B_NP1"; "BTag_B_NP2"; "BTag_B_NP3"
  Title: "b-tag Eigenvar. 1";"b-tag Eigenvar. 2";"b-tag Eigenvar. 3"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_B_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[2]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_B_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[2]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  
Systematic: "BTag_C_NP1"; "BTag_C_NP2"; "BTag_C_NP3"
  Title: "c-tag Eigenvar. 1";"c-tag Eigenvar. 2";"c-tag Eigenvar. 3"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_C_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[2]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_C_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[2]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED

Systematic: "BTag_Light_NP1"; "BTag_Light_NP2"; "BTag_Light_NP3"
  Title: "light-tag Eigenvar. 1";"light-tag Eigenvar. 2";"light-tag Eigenvar. 3"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_Light_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[2]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_Light_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[2]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  
Systematic: "BTag_Extrapolation"
  Title: "b-tag Extrapolation"
  Type: HISTO
  Samples: all
  WeightSufDown: "weight_bTagSF_extrapolation_down/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: ONESIDED
  
% Systematics with separate tree
  
Systematic: "JES_Scenario1_NP1";"JES_Scenario1_NP2";"JES_Scenario1_NP3"
  Title: "JES NPScenario 1 - NP 1";"JES NPScenario 1 - NP 2";"JES NPScenario 1 - NP 3"
  Type: HISTO
  Samples: all
  NtupleNameUp: "JET_NPScenario1_JET_GroupedNP_1__1up";"JET_NPScenario1_JET_GroupedNP_2__1up";"JET_NPScenario1_JET_GroupedNP_3__1up"
  NtupleNameDown: "JET_NPScenario1_JET_GroupedNP_1__1down";"JET_NPScenario1_JET_GroupedNP_2__1down";"JET_NPScenario1_JET_GroupedNP_3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED

Systematic: "JER"
  Title: "JER"
  Type: HISTO
  Samples: all
  NtupleNameUp: "JET_JER_SINGLE_NP__1up"
  Smoothing: 40
  Symmetrisation: ONESIDED
%   Samples: ttbar,ttH
  
Systematic: "EG_Resolution";"EG_Scale"
  Title: "Electron Resolution";"Electron Scale"
  Type: HISTO
  Samples: all
  NtupleNameUp: "EG_RESOLUTION_ALL__1up";"EG_SCALE_ALL__1up"
  NtupleNameDown: "EG_RESOLUTION_ALL__1down";"EG_SCALE_ALL__1down"  
  Smoothing: 40
  Symmetrisation: TWOSIDED
  
Systematic: "Muons_ID";"Muons_MS";"Muons_Scale"
  Title: "Muon ID";"Muon MS";"Muon Scale"
  Type: HISTO
  Samples: all
  NtupleNameUp: "MUONS_ID__1up";"MUONS_MS__1up";"MUONS_SCALE__1up"
  NtupleNameDown: "MUONS_ID__1down";"MUONS_MS__1down";"MUONS_SCALE__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  
Systematic: "tt_Rad_HiLow"
  Title: "t#bar{t} Radiation"
  Type: HISTO
  Samples: ttbar
  NtupleFileSufUp: "_radHi"
  NtupleFileSufDown: "_radLo"
  Smoothing: 40
  Symmetrisation: TWOSIDED
