% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "ttH2015_dilep"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/afs/cern.ch/work/p/pinamont/public/flatNtup_TTHBB_test/"
  Label: "Dilepton"
  LumiLabel: "85 pb^{-1}"
  MCweight: "FinalWeight*weight_leptonSF*weight_bTagSF"
  Lumi: 84.9676
  Selection: "(ee || emu || mumu)"
  PlotOptions: "LEFT,NOXERR,NOENDERR"
  NtupleName: "nominal"
  DebugLevel: 0
  MCstatThreshold: 0.001
  MCstatConstraint: "Poisson"
  SystControlPlots: TRUE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 0.90
  CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: FALSE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  UseMinos: SigXsecOverSM

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "dilep_All"
  Type: SIGNAL
  Variable: "0",1,0,1
  VariableTitle: "-"
  Label: "All"
  NtuplePathSuffs: "5j3b","ge6jge4b"

% --------------- %
% --- SAMPLES --- %
% --------------- %

% Example GHOST sample, used for syst ReferenceSample option

% Sample: "ttbar_pyt8"
%   Type: GHOST
%   NtupleFile: "ttbar_pyt8"
%   AsimovReplacementFor: ttbar_pyt8,ttbar
% %   MCweight: 2
%
% Sample: "ttbar_pyt6"
%   Type: GHOST
%   NtupleFile: "ttbar"
%   AsimovReplacementFor: ttbar_pyt6,ttbar
% %   MCweight: 2
%
% Sample: "ttbar_radHi"
%   Type: GHOST
%   NtupleFile: "ttbar_radHi"
% %   AsimovReplacementFor: ttbar_radHi,ttbar
% %   AddSample: ttbar_pyt8

% Normal samples

Sample: "Data"
  Title: "Data 2015"
  Type: DATA
  NtupleFile: "data"

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  TexTitle: "$t\bar{t}H$"
  FillColor: 2
  LineColor: 2
  NtupleFile: "ttH"
  MCweight: "10"
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  TexTitle: "$t\bar{t}$ + jets"
  FillColor: 0
  LineColor: 1
  NtupleFile: "ttbar"

Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  NtupleFile: "singleTop"

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "SigXsecOverSM"
  Title: "#it{#mu}(#it{t#bar{t}H})"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: ttH

NormFactor: "mu_tt"
  Title: "#it{k}(#it{t#bar{t}})"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: ttbar
  Constant: TRUE

NormFactor: "muLumi"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: all
  Constant: TRUE

% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

Systematic: "stXsec"
  Title: "Single top cross-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "ttXsec"
  Title: "#it{t#bar{t}} cross-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttbar
  Category: Theory
  SubCategory: "ttbar-model"

Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

Systematic: "ttHXsec"
  Title: "#it{t#bar{t}H} cross-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttH
  Category: Theory
  SubCategory: "signal-model"

% Weight systematics

Systematic: "LepSF_EL_Trigger";"LepSF_EL_Reco";"LepSF_EL_ID";"LepSF_EL_Isol"
  Title: "Electron trigger eff.";"Electron reconstruction eff.";"Electron identification eff.";"Electron isolation eff."
  Type: HISTO
  Samples: ttbar
  WeightSufUp: "weight_leptonSF_EL_SF_Trigger_UP/weight_leptonSF";"weight_leptonSF_EL_SF_Reco_UP/weight_leptonSF";"weight_leptonSF_EL_SF_ID_UP/weight_leptonSF";"weight_leptonSF_EL_SF_Isol_UP/weight_leptonSF"
  WeightSufDown: "weight_leptonSF_EL_SF_Trigger_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_Reco_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_ID_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_Isol_DOWN/weight_leptonSF"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "LepSF_MU_Trigger_STAT";"LepSF_MU_Trigger_SYST";"LepSF_MU_ID_STAT";"LepSF_MU_ID_SYST";"LepSF_MU_Isol"
  Title: "Muon trigger eff. (stat)";"Muon trigger eff. (syst)";"Muon identification eff. (stat)";"Muon identification eff. (syst)";"Muon isolation eff."
  Type: HISTO
  Samples: ttbar
  WeightSufUp: "weight_leptonSF_MU_SF_Trigger_STAT_UP/weight_leptonSF";"weight_leptonSF_MU_SF_Trigger_SYST_UP/weight_leptonSF";"weight_leptonSF_MU_SF_ID_STAT_UP/weight_leptonSF";"weight_leptonSF_MU_SF_ID_SYST_UP/weight_leptonSF";"weight_leptonSF_MU_SF_Isol_UP/weight_leptonSF"
  WeightSufDown: "weight_leptonSF_MU_SF_Trigger_STAT_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_Trigger_SYST_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_ID_STAT_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_ID_SYST_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_Isol_DOWN/weight_leptonSF"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "BTag_B_NP1"; "BTag_B_NP2"; "BTag_B_NP3"; "BTag_B_NP4"; "BTag_B_NP5"; "BTag_B_NP6"
  Title: "#it{b}-tag Eigenvar. 1";"#it{b}-tag Eigenvar. 2";"#it{b}-tag Eigenvar. 3";"#it{b}-tag Eigenvar. 4";"#it{b}-tag Eigenvar. 5";"#it{b}-tag Eigenvar. 6"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_B_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[5]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_B_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[5]/weight_bTagSF"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "b-tagging"

Systematic: "BTag_C_NP1"; "BTag_C_NP2"; "BTag_C_NP3"; "BTag_C_NP4"
  Title: "#it{c}-tag Eigenvar. 1";"#it{c}-tag Eigenvar. 2";"#it{c}-tag Eigenvar. 3";"#it{c}-tag Eigenvar. 4"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_C_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[3]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_C_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[3]/weight_bTagSF"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "b-tagging"

Systematic: "BTag_Light_NP1"; "BTag_Light_NP2"; "BTag_Light_NP3"; "BTag_Light_NP4"; "BTag_Light_NP5"; "BTag_Light_NP6"; "BTag_Light_NP7"; "BTag_Light_NP8"; "BTag_Light_NP9"; "BTag_Light_NP10"; "BTag_Light_NP11"; "BTag_Light_NP12"
  Title: "light-tag Eigenvar. 1";"light-tag Eigenvar. 2";"light-tag Eigenvar. 3";"light-tag Eigenvar. 4";"light-tag Eigenvar. 5";"light-tag Eigenvar. 6"; "light-tag Eigenvar. 7";"light-tag Eigenvar. 8";"light-tag Eigenvar. 9";"light-tag Eigenvar. 10";"light-tag Eigenvar. 11";"light-tag Eigenvar. 12"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_Light_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[5]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[6]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[7]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[8]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[9]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[10]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[11]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_Light_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[5]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[6]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[7]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[8]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[9]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[10]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[11]/weight_bTagSF"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "b-tagging"

Systematic: "BTag_Extrapolation"; "BTag_ExtrapolationFromCharm"
  Title: "#it{b}-tag Extrapolation";"#it{b}-tag Extrapolation from c"
  Type: HISTO
  Samples: ttbar
  WeightSufDown: "weight_bTagSF_extrapolation_down/weight_bTagSF"; "weight_bTagSF_extrapolation_from_charm_down/weight_bTagSF"
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: "b-tagging"

% Systematics with separate tree

Systematic: "JES_Scenario1_NP1";"JES_Scenario1_NP2";"JES_Scenario1_NP3"
  Title: "JES NPScenario 1 - NP 1";"JES NPScenario 1 - NP 2";"JES NPScenario 1 - NP 3"
  Type: HISTO
  Samples: all
  NtupleNameUp: "JET_NPScenario1_JET_GroupedNP_1__1up";"JET_NPScenario1_JET_GroupedNP_2__1up";"JET_NPScenario1_JET_GroupedNP_3__1up"
  NtupleNameDown: "JET_NPScenario1_JET_GroupedNP_1__1down";"JET_NPScenario1_JET_GroupedNP_2__1down";"JET_NPScenario1_JET_GroupedNP_3__1down"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER"
  Title: "JER"
  Type: HISTO
  Samples: ttbar
  NtupleNameUp: "JET_JER_SINGLE_NP__1up"
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "EG_Resolution";"EG_Scale"
  Title: "Electron energy resolution";"Electron energy scale"
  Type: HISTO
  Samples: ttbar
  NtupleNameUp: "EG_RESOLUTION_ALL__1up";"EG_SCALE_ALL__1up"
  NtupleNameDown: "EG_RESOLUTION_ALL__1down";"EG_SCALE_ALL__1down"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "Muons_ID";"Muons_MS";"Muons_Scale"
  Title: "Muon momentum resolution (ID) ";"Muon momentum resolution (MS)";"Muon momentum scale"
  Type: HISTO
  Samples: ttbar
  NtupleNameUp: "MUONS_ID__1up";"MUONS_MS__1up";"MUONS_SCALE__1up"
  NtupleNameDown: "MUONS_ID__1down";"MUONS_MS__1down";"MUONS_SCALE__1down"
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "leptons"

Systematic: "tt_Rad_HiLow"
  Title: "#it{t#bar{t}} ISR/FSR"
  Type: HISTO
  Samples: ttbar
  NtupleFileSufUp: "_radHi"
  NtupleFileSufDown: "_radLo"
  Symmetrisation: TWOSIDED
  Category: Theory
  SubCategory: "ttbar-model"

Systematic: "tt_Shower"
  Title: "#it{t#bar{t}} PS and hadronization"
  Type: HISTO
  Samples: ttbar
  NtupleFileUp: "ttbar_pyt8"
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "ttbar-model"
