% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "ttH2015"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/afs/cern.ch/work/p/pinamont/public/flatNtup_TTHBB_test/"
  Label: "Single Lepton"
  LumiLabel: "85 pb^{-1}"
  MCweight: "FinalWeight*weight_leptonSF*weight_bTagSF"
  Lumi: 84.9676
%   LumiScale: 10    % use this to scale `on the fly' (i.e. after option "n" or "h") MC samples - e.g. for fast projections
  Selection: "trigger>0 && (e_jets || mu_jets)"
%   PlotOptions: "YIELDS"
  PlotOptions: "NOSIG,OVERSIG"
  NtupleName: "nominal"
  DebugLevel: 0
  MCstatThreshold: 0.01
%   MCstatThreshold: NONE
  SystControlPlots: TRUE
  SystDataPlots: FALSE
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  SystLarge: 0.90
%   CorrelationThreshold: 0.20
  HistoChecks: NOCRASH
  SplitHistoFiles: TRUE   % set this in order to have separated .root files in Histograms/ for different regions
%   ImageFormat: "png","eps","pdf","svg"
  ImageFormat: "png"
%   StatOnly: TRUE
%   WorkspaceFileName: "ttH2015/RooStats/ttH2015_combined_ttH2015_model.root"
  SystCategoryTables: TRUE
%   HideNP: SigXsecOverSM
%   KeepPruning: TRUE
%   SummaryPlotYmin: 0.1
%   SummaryPlotYmax: 10000
  RatioYmax: 4
  RatioYmaxPostFit: 1.3
  RatioYminPostFit: 0.7

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
%   FitType: BONLY
  FitRegion: CRSR
%   FitBlind: TRUE
%   POIAsimov: 1
  UseMinos: SigXsecOverSM
%   doLHscan: tt_Rad_HiLow,JES_Scenario1_NP2

% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
%   LimitBlind: TRUE
  SignalInjection: TRUE

% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "HThad_4j2b"
  Type: CONTROL
  Variable: "HhadT_jets/1e3",50,100,1100
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "4 j, 2 b"
  ShortLabel: "4j,2b"
  NtuplePathSuff: "4j2b"
  Binning: 100,200,250,300,350,400,450,500,550,600,700,1100
  BinWidth: 50
  RatioYmax: 1.2
%   DataType: ASIMOV
%   Ymax: 1000
%   Ymin: 10
%   LogScale: TRUE

Region: "HThad_5j3b"
  Type: CONTROL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "5 j, 3 b"
  ShortLabel: "5j,3b"
  NtuplePathSuff: "5j3b"
  Binning: 100,200,300,400,500,600,1000,1600
  BinWidth: 100
%   DataType: ASIMOV
  RatioYmax: 3
  RatioYmin: 0

Region: "HThad_ge6jge4b"
  Type: SIGNAL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Label: "#geq 6 j, #geq 4 b"
  ShortLabel: "#geq6j,#geq4b"
  TexLabel: "$\geq$ 6 j, $\geq$ 4 b"
  NtuplePathSuff: "ge6jge4b"
  Binning: 100,400,700,1600
  BinWidth: 300
%   Binning: "AutoBin","TransfoD",3,3
%   DataType: ASIMOV

% --------------- %
% --- SAMPLES --- %
% --------------- %

% Example GHOST sample, used for syst ReferenceSample option

Sample: "ttbar_pyt8"
  Type: GHOST
  NtupleFile: "ttbar_pyt8"

% Normal samples

Sample: "Data"
  Title: "Data 2015"
  Type: DATA
  NtupleFile: "data"

Sample: "ttH"
  Type: SIGNAL
  Title: "t#bar{t}H"
  TexTitle: "$t\bar{t}H$"
  FillColor: 2
  LineColor: 2
  NtupleFile: "ttH"
%   NormFactor: "SigXsecOverSM",1,-10,100
  Regions: "HThad_ge6jge4b","HThad_5j3b"
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  TexTitle: "$t\bar{t}$ + jets"
  FillColor: 0
  LineColor: 1
%   NtupleFile: "ttbar_pyt8"
  NtupleFile: "ttbar"

Sample: "wjets"
  Type: BACKGROUND
  Title: "W + jets"
  Group: "W/Z + jets"
%   Title: "W/Z + jets"
  FillColor: 92
  LineColor: 1
  NtupleFile: "wjets"
  Smooth: TRUE
  Regions: "HThad_4j2b"

Sample: "zjets"
  Type: BACKGROUND
  Title: "Z + jets"
  Group: "W/Z + jets"
%   Title: "W/Z + jets"
  FillColor: 95
  LineColor: 1
  NtupleFile: "zjets"
  Smooth: TRUE
  Regions: "HThad_4j2b"

Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
%   Smooth: TRUE
  NtupleFile: "singleTop"
  Regions: HThad_4j2b,HThad_5j3b

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "SigXsecOverSM"
  Title: "#mu(ttH)"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: ttH
  Category: Theory

NormFactor: "muLumi"
  Nominal: 1
  Min: 0
  Max: 100
  Samples: all
  Constant: TRUE

NormFactor: "ttNorm"
  Nominal: 1
  Min: 0
  Max: 10
  Samples: ttbar

% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

Systematic: "wjXsec"; "zjXsec"
  Title: "W+jets x-section" ; "Z+jets x-section"
  Type: OVERALL
  OverallUp: 0.48
  OverallDown: -0.48
  Samples: wjets; zjets
  Regions: HThad_4j2b
  Category: Theory

Systematic: "stXsec"
  Title: "Single top x-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop
  Regions: HThad_4j2b
  Category: Theory

Systematic: "ttXsec"
  Title: "tt x-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
%   IsFreeParameter: TRUE
  Samples: ttbar
  Category: Theory

Systematic: "Luminosity"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: all
  Category: Instrumental

Systematic: "ttHXsec"
  Title: "ttH x-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: ttH
  Category: Theory

% Weight systematics

% Systematic: "wjNjets";  "zjNjets"
%   Title: "W+jets Njets"; "Z+jets Njets"
%   Type: HISTO
%   WeightSufUp: "(1+0.24*(jet_n-4))"
%   WeightSufDown: "(1-0.24*(jet_n-4))"
%   Samples: wjets; zjets
%   Smoothing: 40

% Systematic: "LepSF_EL_Trigger";"LepSF_EL_Reco";"LepSF_EL_ID";"LepSF_EL_Isol"
%   Title: "Electron Trigger Eff";"Electron Reco Eff";"Electron ID Eff";"Electron Isolation Eff"
%   Type: HISTO
%   Samples: all
%   WeightSufUp: "weight_leptonSF_EL_SF_Trigger_UP/weight_leptonSF";"weight_leptonSF_EL_SF_Reco_UP/weight_leptonSF";"weight_leptonSF_EL_SF_ID_UP/weight_leptonSF";"weight_leptonSF_EL_SF_Isol_UP/weight_leptonSF"
%   WeightSufDown: "weight_leptonSF_EL_SF_Trigger_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_Reco_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_ID_DOWN/weight_leptonSF";"weight_leptonSF_EL_SF_Isol_DOWN/weight_leptonSF"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED
%
% Systematic: "LepSF_MU_Trigger_STAT";"LepSF_MU_Trigger_SYST";"LepSF_MU_ID_STAT";"LepSF_MU_ID_SYST";"LepSF_MU_Isol"
%   Title: "Muon Trigger Eff (stat)";"Muon Trigger Eff (syst)";"Muon ID Eff (stat)";"Muon ID Eff (syst)";"Muon Isolation Eff"
%   Type: HISTO
%   Samples: all
%   WeightSufUp: "weight_leptonSF_MU_SF_Trigger_STAT_UP/weight_leptonSF";"weight_leptonSF_MU_SF_Trigger_SYST_UP/weight_leptonSF";"weight_leptonSF_MU_SF_ID_STAT_UP/weight_leptonSF";"weight_leptonSF_MU_SF_ID_SYST_UP/weight_leptonSF";"weight_leptonSF_MU_SF_Isol_UP/weight_leptonSF"
%   WeightSufDown: "weight_leptonSF_MU_SF_Trigger_STAT_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_Trigger_SYST_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_ID_STAT_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_ID_SYST_DOWN/weight_leptonSF";"weight_leptonSF_MU_SF_Isol_DOWN/weight_leptonSF"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED

Systematic: "BTag_B_NP1"; "BTag_B_NP2"; "BTag_B_NP3"; "BTag_B_NP4"; "BTag_B_NP5"; "BTag_B_NP6"
  Title: "b-tag Eigenvar. 1";"b-tag Eigenvar. 2";"b-tag Eigenvar. 3";"b-tag Eigenvar. 4";"b-tag Eigenvar. 5";"b-tag Eigenvar. 6"
  Type: HISTO
  Samples: all
  Samples: ttbar
  WeightSufUp: "weight_bTagSF_eigenvars_B_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[5]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_B_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[5]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental

% Systematic: "BTag_C_NP1"; "BTag_C_NP2"; "BTag_C_NP3"; "BTag_C_NP4"
%   Title: "c-tag Eigenvar. 1";"c-tag Eigenvar. 2";"c-tag Eigenvar. 3";"c-tag Eigenvar. 4"
%   Type: HISTO
%   Samples: all
%   WeightSufUp: "weight_bTagSF_eigenvars_C_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_up[3]/weight_bTagSF"
%   WeightSufDown: "weight_bTagSF_eigenvars_C_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_C_down[3]/weight_bTagSF"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED
%
% Systematic: "BTag_Light_NP1"; "BTag_Light_NP2"; "BTag_Light_NP3"; "BTag_Light_NP4"; "BTag_Light_NP5"; "BTag_Light_NP6"; "BTag_Light_NP7"; "BTag_Light_NP8"; "BTag_Light_NP9"; "BTag_Light_NP10"; "BTag_Light_NP11"; "BTag_Light_NP12"
%   Title: "light-tag Eigenvar. 1";"light-tag Eigenvar. 2";"light-tag Eigenvar. 3";"light-tag Eigenvar. 4";"light-tag Eigenvar. 5";"light-tag Eigenvar. 6"; "light-tag Eigenvar. 7";"light-tag Eigenvar. 8";"light-tag Eigenvar. 9";"light-tag Eigenvar. 10";"light-tag Eigenvar. 11";"light-tag Eigenvar. 12"
%   Type: HISTO
%   Samples: all
%   WeightSufUp: "weight_bTagSF_eigenvars_Light_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[5]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[6]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[7]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[8]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[9]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[10]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_up[11]/weight_bTagSF"
%   WeightSufDown: "weight_bTagSF_eigenvars_Light_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[2]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[3]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[4]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[5]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[6]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[7]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[8]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[9]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[10]/weight_bTagSF"; "weight_bTagSF_eigenvars_Light_down[11]/weight_bTagSF"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED
%
% Systematic: "BTag_Extrapolation"; "BTag_ExtrapolationFromCharm"
%   Title: "b-tag Extrapolation";"b-tag Extrapolation from c"
%   Type: HISTO
%   Samples: all
%   WeightSufDown: "weight_bTagSF_extrapolation_down/weight_bTagSF"; "weight_bTagSF_extrapolation_from_charm_down/weight_bTagSF"
%   Smoothing: 40
%   Symmetrisation: ONESIDED

% Systematics with separate tree

Systematic: "JES_Scenario1_NP1";"JES_Scenario1_NP2";"JES_Scenario1_NP3"
  Title: "JES NPScenario 1 - NP 1";"JES NPScenario 1 - NP 2";"JES NPScenario 1 - NP 3"
  Type: HISTO
%   Samples: all
  Samples: ttbar
  NtupleNameUp: "JET_NPScenario1_JET_GroupedNP_1__1up";"JET_NPScenario1_JET_GroupedNP_2__1up";"JET_NPScenario1_JET_GroupedNP_3__1up"
  NtupleNameDown: "JET_NPScenario1_JET_GroupedNP_1__1down";"JET_NPScenario1_JET_GroupedNP_2__1down";"JET_NPScenario1_JET_GroupedNP_3__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
%   Decorrelate: SAMPLE
%   Decorrelate: REGION
%   Exclude: HThad_ge6jge4b
  Category: Instrumental

Systematic: "JER"
  Title: "JER"
  Type: HISTO
  Samples: all
  NtupleNameUp: "JET_JER_SINGLE_NP__1up"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental

% Systematic: "JER_NP0";"JER_NP1";"JER_NP2";"JER_NP3";"JER_NP4";"JER_NP5";"JER_NP6";"JER_NP7";"JER_NP8"
%   Title: "JER_NP0";"JER_NP1";"JER_NP2";"JER_NP3";"JER_NP4";"JER_NP5";"JER_NP6";"JER_NP7";"JER_NP8"
%   Type: HISTO
%   Samples: all
%   NtupleNameUp: "JET_JER_NP0__1up";"JET_JER_NP1__1up";"JET_JER_NP2__1up";"JET_JER_NP3__1up";"JET_JER_NP4__1up";"JET_JER_NP5__1up";"JET_JER_NP6__1up";"JET_JER_NP7__1up";"JET_JER_NP8__1up"
%   NtupleNameDown: "JET_JER_NP0__1down";"JET_JER_NP1__1down";"JET_JER_NP2__1down";"JET_JER_NP3__1down";"JET_JER_NP4__1down";"JET_JER_NP5__1down";"JET_JER_NP6__1down";"JET_JER_NP7__1down";"JET_JER_NP8__1down"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED
%   Category: Instrumental
%   ReferenceSample: Data
%   SubtractRefSampleVar: TRUE
%
% Systematic: "JER_CROSS_CALIB_FORWARD";"JER_NOISE_FORWARD"
%   Title: "JER_CROSS_CALIB_FORWARD";"JER_NOISE_FORWARD"
%   Type: HISTO
%   Samples: all
%   NtupleNameUp: "JET_JER_CROSS_CALIB_FORWARD__1up";"JET_JER_NOISE_FORWARD__1up"
%   Smoothing: 40
%   Symmetrisation: ONESIDED
%   Category: Instrumental
%   ReferenceSample: Data
%   SubtractRefSampleVar: TRUE

% Systematic: "EG_Resolution";"EG_Scale"
%   Title: "Electron Resolution";"Electron Scale"
%   Type: HISTO
%   Samples: all
%   NtupleNameUp: "EG_RESOLUTION_ALL__1up";"EG_SCALE_ALL__1up"
%   NtupleNameDown: "EG_RESOLUTION_ALL__1down";"EG_SCALE_ALL__1down"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED
%
% Systematic: "Muons_ID";"Muons_MS";"Muons_Scale"
%   Title: "Muon ID";"Muon MS";"Muon Scale"
%   Type: HISTO
%   Samples: all
%   NtupleNameUp: "MUONS_ID__1up";"MUONS_MS__1up";"MUONS_SCALE__1up"
%   NtupleNameDown: "MUONS_ID__1down";"MUONS_MS__1down";"MUONS_SCALE__1down"
%   Smoothing: 40
%   Symmetrisation: TWOSIDED

Systematic: "tt_Rad_HiLow"
  Title: "tt Radiation"
  Type: HISTO
  Samples: ttbar
%   Regions: HThad_5j3b,HThad_ge6jge4b
  NtupleFileSufUp: "_radHi"
  NtupleFileSufDown: "_radLo"
%   ReferenceSample: ttbar_pyt8 % example of usage of ReferenceSample
  Smoothing: 40
  Symmetrisation: TWOSIDED
%   Decorrelate: REGION
  Category: Theory

Systematic: "tt_Shower"
  Title: "t#bar{t} Parton Shower"
  Type: HISTO
  Samples: ttbar
  NtupleFileUp: "ttbar_pyt8"
%   NtupleFilesUp: "ttbar_pyt8"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory

