MultiFit: "ttH2015_comb"
  Label: "t#bar{t}H"
  POIName: "SigXsecOverSM"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "85 pb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: FALSE
  POIRange: -10:30
  ShowObserved: TRUE
  DataName: "obsData"
  CombineChByCh: TRUE
  
Fit: "dilep"
  ConfigFile: config/ttH2015_dilep.config
  Label: "Dilepton"
  
Fit: "ljets"
  ConfigFile: config/ttH2015_ljets.config
  Label: "Single Lepton"
 
