MultiFit: "ttH2015_CRvsSR"
  Label: "t#bar{t}H Lepton+jets"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "13 TeV"
  LumiLabel: "85 pb^{-1}"
  ComparePOI: TRUE
  ComparePulls: TRUE
  CompareLimits: TRUE
  POIRange: -10:30
  ShowObserved: TRUE
  DataName: "asimovData"   % asimovData
  
Fit: "CR"
  ConfigFile: config/ttH2015_test1.config
  Label: "CR-only"
  
Fit: "SR"
  ConfigFile: config/ttH2015_test2.config
  Label: "SR"
