% --------------- %
% ---  JOB    --- %
% --------------- %

Job: "ttH_tutorial"
  CmeLabel: "13 TeV"
  POI: "mu_ttH"
  ReadFrom: NTUP
  NtuplePaths: "/eos/project/t/trexfitter-docs/public/ttH_tutorial_ntuples/"
  Label: "ttH tutorial"
  LumiLabel: "850 pb^{-1}"
  MCweight: "FinalWeight*weight_leptonSF*weight_bTagSF"
  Lumi: 850.0
  PlotOptions: "NOXERR,CHI2"
  NtupleName: "nominal"
  DebugLevel: 1
  MCstatThreshold: 0.01
  SystPruningShape: 0.01
  SystPruningNorm: 0.01
  CorrelationThreshold: 0.20
  SplitHistoFiles: TRUE
  ImageFormat: "png"
  SystControlPlots: TRUE
  SystCategoryTables: TRUE
  RankingPlot: "all"
  RankingMaxNP: 10
  DoSummaryPlot: TRUE
  DoTables: TRUE
  DoSignalRegionsPlot: TRUE
  DoPieChartPlot: TRUE
  UseGammaPulls: TRUE
  GetChi2: TRUE


% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  POIAsimov: 1
  UseMinos: mu_ttH


% --------------- %
% --- REGIONS --- %
% --------------- %

Region: "ljets_HThad_5j3b"
  Type: CONTROL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Selection: "trigger>0 && (e_jets || mu_jets)"
  Label: "5 j, 3 b"
  ShortLabel: "5j,3b"
  NtuplePathSuff: "5j3b"
  Binning: 200,300,400,500,600,800
  % artificial modification to improve some otherwise very large mis-modeling due to input limitations
  MCweight: "(HhadT_jets/1e3>600 ? 0.7 : 1.0)"

Region: "ljets_HThad_ge6jge4b"
  Type: SIGNAL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Selection: "trigger>0 && (e_jets || mu_jets)"
  Label: "#geq 6 j, #geq 4 b"
  ShortLabel: "#geq6j,#geq4b"
  TexLabel: "$\geq$ 6 j, $\geq$ 4 b"
  NtuplePathSuff: "ge6jge4b"
  Binning: 100,500,700,1000
  % artificial modification to improve some otherwise very large mis-modeling due to input limitations
  MCweight: "(HhadT_jets/1e3>700 ? 0.7 : 1.0)"

Region: "dilep_HThad"
  Type: SIGNAL
  Variable: "HhadT_jets/1e3",30,100,1600
  VariableTitle: "H_{T}^{had} [GeV]"
  Selection: "(ee || emu || mumu) && HhadT_jets/1e3>150"
  Label: "dilepton"
  ShortLabel: "dilep"
  NtuplePathSuffs: "5j3b","ge6jge4b"
  Binning: 150,400,800
  % we modify the region a bit to artificially increase signal sensitivity with the settings below
  % this is not physical and only used for demonstration purposes
  % per-bin weights and make signal more dominant at high HT
  MCweight: "(HhadT_jets/1e3<400 ? 1.0 : 0.8) * (mcChannelNumber==341177 && HhadT_jets/1e3 > 500 ? 3.0 : 1.0)"


% --------------- %
% --- SAMPLES --- %
% --------------- %

Sample: "Data"
  Title: "Data 2015"
  Type: DATA
  NtupleFile: "data"

Sample: "ttH"
  Type: SIGNAL
  Title: "#it{t#bar{t}}H"
  TexTitle: "$t\bar{t}H$"
  FillColor: 2
  LineColor: 2
  NtupleFile: "ttH"
  MCweight: 5  % we pretend the SM x-sec is higher to have more sensitivity - only for demonstration!
  UseMCstat: FALSE

Sample: "ttbar"
  Type: BACKGROUND
  Title: "#it{t#bar{t}} + jets"
  TexTitle: "$t\bar{t}$ + jets"
  FillColor: 0
  LineColor: 1
  MCweight: (nJet_tagged > 3 ? 0.5 : 1)  % another workaround to deal with limitations in the input
  NtupleFile: "ttbar"

Sample: "singleTop"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  NtupleFile: "singleTop"


% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: "mu_ttH"
  Title: "#it{#mu}(#it{t#bar{t}H})"
  Nominal: 1
  Min: -10
  Max: 20
  Samples: ttH

NormFactor: "mu_tt"
  Title: "#it{k}(#it{t#bar{t}})"
  Nominal: 1
  Min: 0
  Max: 2
  Samples: ttbar


% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

Systematic: "Lumi"
  Title: "Luminosity"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: all
  Category: Instrumental
  SubCategory: "lumi"

Systematic: "stXsec"
  Title: "Single top cross-section"
  Type: OVERALL
  OverallUp:    0.05
  OverallDown: -0.05
  Samples: singleTop
  Category: Theory
  SubCategory: "other-bkg"

Systematic: "ttXsec"
  Title: "#it{t#bar{t}} cross-section"
  Type: OVERALL
  OverallUp:    0.06
  OverallDown: -0.06
  Samples: ttbar
  Category: Theory
  SubCategory: "ttbar-model"

Systematic: "ttHXsec"
  Title: "#it{t#bar{t}H} cross-section"
  Type: OVERALL
  OverallUp:    0.10
  OverallDown: -0.10
  Samples: ttH
  Category: Theory
  SubCategory: "signal-model"

% Weight systematics

Systematic: "BTag_B_NP1"; "BTag_B_NP2"; "BTag_B_NP3"
  Title: "#it{b}-tag Eigenvar. 1";"#it{b}-tag Eigenvar. 2";"#it{b}-tag Eigenvar. 3"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_B_up[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_up[2]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_B_down[0]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[1]/weight_bTagSF"; "weight_bTagSF_eigenvars_B_down[2]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "b-tagging"

Systematic: "BTag_C_NP1"
  Title: "#it{c} mis-tag Eigenvar. 1"
  Type: HISTO
  Samples: all
  WeightSufUp: "weight_bTagSF_eigenvars_C_up[0]/weight_bTagSF"
  WeightSufDown: "weight_bTagSF_eigenvars_C_down[0]/weight_bTagSF"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "b-tagging"

% Systematics with separate tree

Systematic: "JES_Scenario1_NP1";"JES_Scenario1_NP2"
  Title: "JES NP 1";"JES NP 2"
  Type: HISTO
  Samples: all
  NtupleNameUp: "JET_NPScenario1_JET_GroupedNP_1__1up";"JET_NPScenario1_JET_GroupedNP_2__1up"
  NtupleNameDown: "JET_NPScenario1_JET_GroupedNP_1__1down";"JET_NPScenario1_JET_GroupedNP_2__1down"
  Smoothing: 40
  Symmetrisation: TWOSIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "JER"
  Title: "JER"
  Type: HISTO
  Samples: ttbar
  NtupleNameUp: "JET_JER_SINGLE_NP__1up"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Instrumental
  SubCategory: "jets-MET"

Systematic: "tt_Shower"
  Title: "#it{t#bar{t}} PS and hadronization"
  Type: HISTO
  Samples: ttbar
  NtupleFileUp: "ttbar_pyt8"
  Smoothing: 40
  Symmetrisation: ONESIDED
  Category: Theory
  SubCategory: "ttbar-model"
