%#  --------------- %
# % ---  JOB    --- %
# % --------------- %

Job: "ttHbbNTuples" 
  Label: "Fit Test"
  CmeLabel: "13 TeV"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePath: "/quark3/calvet/ttH/merged_outputs"
  NtupleFile: "full_merge_091115"
  POI: "SigXsecOverSM"
  #Lumi: 1037.23
  LumiLabel: "1.7 fb^{-1}"
  DebugLevel: 9
  SystControlPlots: TRUE
  #PlotOptions: "YIELDS"
  MCweight: "eventWeight"
  #BlindingThreshold: 0.02  % IMPORTANT: add this if you include data!!


# % --------------- %
# % ---  FIT    --- %
# % --------------- %

Fit: "FullFit"
  FitType: SPLUSB
  FitRegion: CRSR
  doLHscan: all


% --------------- %
% ---  LIMIT    --- %
% --------------- %

Limit: "limit"
  LimitType: ASYMPTOTIC
%   LimitBlind: TRUE


# % --------------- %
# % --- REGIONS --- %
# % --------------- %

Region: "R4j2b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_4je2be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "4j, 2b"
  ShortLabel: "4j, 2b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R4j3b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_4je3be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "4j, 3b"
  ShortLabel: "4j, 3b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R4j4b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_4je4bi_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "4j, #geq 4b"
  ShortLabel: "4j, 4b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R5j2b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_5je2be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "5j, 2b"
  ShortLabel: "5j, 2b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R5j3b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_5je3be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "5j, 3b"
  ShortLabel: "5j, 3b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R5j4b"
  Type: SIGNAL
  NtupleNameSuff: "/EventVariableTreeMaker_5je4bi_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "5j, #geq 4b"
  ShortLabel: "5j, #geq 4b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R6j2b"
  Type: BACKGROUND
  NtupleNameSuffs: "/EventVariableTreeMaker_6ji2be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "#geq 6j, 2b"
  ShortLabel: "#geq 6j, 2b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R6j3b"
  Type: SIGNAL
  NtupleNameSuff: "/EventVariableTreeMaker_6ji3be_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "#geq 6j, 3b"
  ShortLabel: "#geq 6j, 3b"
  Binning: "AutoBin","TransfoD",0.,10.

Region: "R6j4b"
  Type: SIGNAL
  NtupleNameSuff: "/EventVariableTreeMaker_6ji4bi_basic/EventVariables"
  Variable: "Ht/1e3",30,100,1600
  VariableTitle: "H_{T} [GeV]"
  Label: "#geq 6j, #geq 4b"
  ShortLabel: "#geq 6j, #geq 4b"
  Binning: "AutoBin","TransfoD",0.,10.


% --------------- %
% --- SAMPLES --- %
% --------------- %

# Sample: Data
#   Type: DATA
#   Title "Data 2015"
#   NtupleName: "data"
#   NtupleNameSuffs: "/nominal"

Sample: "db"
  Type: BACKGROUND
  Title: "di-boson"
  FillColor: 3
  LineColor: 3
  NtupleName: "db"
  NtupleNameSuffs: "/nominal"

Sample: "single_top"
  Type: BACKGROUND
  Title: "Single Top"
  FillColor: 62
  LineColor: 1
  NtupleName: "st"
  NtupleNameSuffs: "/nominal"

Sample: "tth"
  Type: SIGNAL
  Title: "t#bar{t}H"
  FillColor: 2
  LineColor: 2
  NtupleName: "tth"
  NtupleNameSuffs: "/nominal"
  NormFactor: "SigXsecOverSM",1,-10,100

Sample: "ttv"
  Type: BACKGROUND
  Title: t#bar{t} + W/Z
  FillColor: 6
  LineColor: 6
  NtupleName: "ttv"
  NtupleNameSuffs: /nominal

Sample: "ttbar"
  Type: BACKGROUND
  Title: "t#bar{t} + jets"
  FillColor: 0
  LineColor: 1
  NtupleName: "tt"
  NtupleNameSuffs: "/nominal"

Sample: "wzjets"
  Type: BACKGROUND
  Title: "WZ + jets"
  Group: "W/Z + jets"
  FillColor: 92
  LineColor: 1
  NtupleNames: "wjets","zjets"
  NtupleNameSuffs: "/nominal"

# Sample: "wjets"
#   Type: BACKGROUND
#   Title: "W + jets"
#   Group: "W/Z + jets"
#   FillColor: 92
#   LineColor: 1
#   NtupleName: "wjets"
#   NtupleNameSuffs: "/nominal"

# Sample: "zjets"
#   Type: BACKGROUND
#   Title: "Z + jets"
#   Group: "W/Z + jets"
#   FillColor: 95
#   LineColor: 1
#   NtupleName: "zjets"
#   NtupleNameSuffs: "/nominal"


  
% --------------- %
% - SYSTEMATICS - %
% --------------- %

% Normalization only

# Systematic: "dummy"
#   Title: "dummy" 
#   Type: OVERALL
#   Samples: all
#   OverallUp: 0.000001
#   OverallDown: -0.000001

# Systematic: "dummy2"
#   Title: "dummy2" 
#   Type: OVERALL
#   Samples: ttbar
#   OverallUp: 0.3
#   OverallDown: -0.3