Job: "ttZ3l_PtLepNonZ"
  AcceptancePath: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/nominal/"
  CmeLabel: "13 TeV"
  DebugLevel: 2
  HistoPath: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/nominal/"
  Label: "PLU ttZ"
  LegendNColumns: 1
  LegendX1: 0.6
  LumiLabel: "139 fb^{-1}"
  MCstatThreshold: NONE
  MigrationPath: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/nominal/"
  PlotOptions: YIELDS
  ReadFrom: HIST
  SelectionEffPath: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/nominal/"
  SystControlPlots: TRUE
  UseGammaPulls: TRUE

Fit: "myFit"
  BinnedLikelihoodOptimization: TRUE
  FitBlind: TRUE
  FitRegion: CRSR
  FitType: UNFOLDING
  UseMinos: "all"

Unfolding: "Unfolding"
  MatrixOrientation: TRUTHONVERTICAL
  NumberOfTruthBins: 4
  NominalTruthSample: "pythia"
  DivideByBinWidth: TRUE
  DivideByLumi: 138.9652
  LogX: FALSE
  LogY: FALSE
  TitleX: "Particle level p_{T}^{l, non-Z} [GeV]"
  TitleY: "#frac{d#sigma}{dp_{T}^{l, non-Z}} [fb #times GeV^{-1}]"

TruthSample: "pythia"
  TruthDistributionFile: "mc.ttZ.ttZ_frame2.v20210324"
  TruthDistributionName: "particle/SR_2b8585_3j/PtLepNonZ"
  TruthDistributionPath: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/nominal/"
  LineColor: 28
  Title: "aMC@NLO+Pythia 8"

Region: "SR_2b8585_3j"
  AcceptanceName: "h_acc_SR_2b8585_3j_PtLepNonZ"
  HistoName: "reco/SR_2b8585_3j/PtLepNonZ"
  Label: "2 bjets @ 85%"
  MigrationName: "reco/SR_2b8585_3j/PtLepNonZ_vs_PtLepNonZ"
  NumberOfRecoBins: 4
  SelectionEffName: "h_eff_SR_2b8585_3j_PtLepNonZ"
  ShortLabel: "2b85853j"
  Type: SIGNAL
  VariableTitle: "Particle level p_{T}^{l, non-Z} [GeV]"

Region: "CR_0b_3j"
  HistoName: "reco/CR_0b_3j/PtLepNonZ"
  Label: "CR 0b"
  NumberOfRecoBins: 4
  Rebin: 4
  ShortLabel: "CR0b"
  Type: CONTROL
  VariableTitle: "Yield"

UnfoldingSample: "ttZ"
  AcceptanceFile: "mc.ttZ.ttZ_frame2.v20210324"
  FillColor: 8
  LineColor: 31
  MigrationFile: "mc.ttZ.ttZ_frame2.v20210324"
  Regions: SR_2b8585_3j
  SelectionEffFile: "mc.ttZ.ttZ_frame2.v20210324"
  Title: "ttZ"

Sample: "ttZ"
  FillColor: 8
  HistoFile: "mc.ttZ.ttZ_frame2.v20210324"
  LineColor: 31
  Regions: CR_0b_3j
  Title: "ttZ"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "tWZ"
  FillColor: 9
  HistoFile: "mc.tWZ.ttZ_frame2.v20210324"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "tWZ"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "tZ"
  FillColor: 28
  HistoFile: "mc.tZ.ttZ_frame2.v20210324"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "tZ"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "WZl"
  FillColor: 7
  HistoFile: "mc.WZ.ttZ_frame2.v20210324"
  HistoNameSuff: "_LF"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "WZ + l"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "WZb"
  FillColor: 12
  HistoFile: "mc.WZ.ttZ_frame2.v20210324"
  HistoNameSuff: "_B"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "WZ + b"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "WZc"
  FillColor: 32
  HistoFile: "mc.WZ.ttZ_frame2.v20210324"
  HistoNameSuff: "_C"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "WZ + c"
  Type: BACKGROUND
  UseMCstat: TRUE

Sample: "fakes"
  FillColor: 19
  HistoFile: "mc.fakes.ttZ_frame2.v20210324"
  LineColor: 31
  Regions: SR_2b8585_3j,CR_0b_3j
  Title: "fakes"
  Type: BACKGROUND
  UseMCstat: TRUE

NormFactor: "mu_WZl"
  Max: 10
  Min: -10
  Nominal: 1.0
  Regions: SR_2b8585_3j,CR_0b_3j
  Samples: "WZl"
  Title: "#mu(WZ+l)"

UnfoldingSystematic: "bTagSF_DL1r_Light_0"
  AcceptancePathDown: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_down"
  AcceptancePathUp: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_up"
  Category: TaggingUncertainty
  MigrationPathDown: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_down"
  MigrationPathUp: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_up"
  NuisanceParameter: "bTagSF_DL1r_Light_0"
  SelectionEffPathDown: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_down"
  SelectionEffPathUp: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_up"
  Symmetrisation: TWOSIDED
  Title: "bTagSF_DL1r_Light_0"

Systematic: "bTagSF_DL1r_Light_0"
  Category: TaggingUncertainty
  Exclude: "fakes"
  HistoPathDown: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_down"
  HistoPathUp: "/eos/user/l/laurynas/public/topwg2021/plu/histograms/weight_bTagSF_DL1r_Continuous_eigenvars_Light_0_up"
  NuisanceParameter: "bTagSF_DL1r_Light_0"
  Symmetrisation: TWOSIDED
  Title: "bTagSF_DL1r_Light_0"
  Type: HISTO

Systematic: "WZcUnc30"
  NuisanceParameter: "WZcUnc30"
  OverallDown: -0.3
  OverallUp: 0.3
  Samples: "WZc"
  Title: "WZ+c normalisation"
  Type: OVERALL

Systematic: "MMFakeSyst40"
  Category: Instrumental
  NuisanceParameter: "MMFakeSyst40"
  OverallDown: -0.4
  OverallUp: 0.4
  Samples: "fakes"
  SubCategory: NonPrompt
  Title: "MMFakeSyst40"
  Type: OVERALL

